workflows/ADD_PRODUCT_STRIPE.json
{"createdAt":"2025-06-24T20:41:43.897Z","updatedAt":"2025-06-26T19:32:34.935Z","id":"Lv10eJJh3UcctKJJ","name":"ADD_PRODUCT_STRIPE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"identifier"},{"name":"titulo"},{"name":"descrição"},{"name":"apiKey"},{"name":"serverUrl"},{"name":"remoteJid"},{"name":"instance"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,340]},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/products","authentication":"predefinedCredentialType","nodeCredentialType":"strapiTokenApi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ $('When Executed by Another Workflow').item.json.titulo }}"},{"name":"images[0]","value":"={{ $('HTTP Request1').item.json.data.link }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,340],"id":"9a459417-bb2f-4714-a32c-aed5ecd4aee5","name":"HTTP Request","credentials":{"strapiTokenApi":{"id":"UzBHDToffVDACOlH","name":"Strapi Token account"}}},{"parameters":{"method":"POST","url":"https://api.imgur.com/3/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID 5ad6ef876399a5c"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"type","value":"image"},{"name":"title","value":"Simple upload"},{"name":"description","value":"This is a simple image upload in Imgur"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,340],"id":"42aca08d-1ffa-4cf1-8614-9d3cfca6cfb5","name":"HTTP Request1"},{"parameters":{"operation":"get","propertyName":"data","key":"={{ $json.identifier }}_IMAGE","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[460,340],"id":"bf9eefaf-bd30-406c-aa58-e9b2c84a28b0","name":"Redis","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[660,340],"id":"e4f31295-ca64-46b8-9916-bceb78530406","name":"Convert to File"},{"parameters":{"operation":"delete","key":"={{ $('When Executed by Another Workflow').item.json.identifier }}_ADD"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,340],"id":"097fe46d-c662-4453-83a6-c208a1740795","name":"Redis1","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.serverUrl }}/message/sendText/{{ $('When Executed by Another Workflow').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('When Executed by Another Workflow').item.json.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When Executed by Another Workflow').item.json.remoteJid }}"},{"name":"text","value":"=produto adicionado com sucesso"},{"name":"delay","value":"={{ 4852 }}"}]},"options":{}},"id":"5328fc85-7ec2-42d4-ba78-9d1e25cb6c67","name":"Responde texto1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,340],"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('When Executed by Another Workflow').item.json.identifier }}_IMAGE"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1600,340],"id":"392a6797-9aeb-4e7f-84c7-820be757f669","name":"Redis2","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Responde texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"identifier":"OLIVIA_556285372793","titulo":"anel de ouro branco 18k","descrição":"Anel de ouro branco","apiKey":"C9031DDB22EE-4593-9CAB-71F6816612D9","serverUrl":"https://evo.vps.veridianbr.com","remoteJid":"556285372793@s.whatsapp.net"}}]},"versionId":"7aef4859-66f7-451d-b80a-071b1b26bc33","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}