workflows/add_produto.json
{"createdAt":"2025-06-13T18:41:50.861Z","updatedAt":"2025-06-24T23:16:15.799Z","id":"kcMNjziL6W4dnH81","name":"add_produto","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[40,380]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[900,0],"id":"72b5aa7a-9368-4021-9cf8-2d43798aab24","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"url":"https://api.stripe.com/v1/products","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"3"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,0],"id":"1de41339-4328-4492-91ab-2e7943b906cf","name":"HTTP Request2","credentials":{"stripeApi":{"id":"KG1kCu6R6sfEHT6s","name":"Stripe account"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.content }}\n{{ $json.image_received }}","options":{"systemMessage":"={\n  \"prompt\": \"Para cadastrar um novo produto, preciso que você me envie algumas informações obrigatórias:\\n\\n1. 📷 *Foto do produto* (por favor, envie a imagem diretamente aqui)\\n2. 🏷️ *Título do produto*\\n3. 💲 **Preço** (em reais, por exemplo: 149.90)\\n\\nEnvie cada item por vez. Assim que eu tiver tudo, vou registrar o produto no Stripe para você. Vamos começar pela *foto do produto*!\",\n  \"context\": {\n    \"required_fields\": {\n      \"foto\": {\n        \"type\": \"image\",\n        \"status\": \"pending\",\n        \"message\": \"Por favor, envie a **foto do produto**.\"\n      },\n      \"titulo\": {\n        \"type\": \"text\",\n        \"status\": \"pending\",\n        \"message\": \"Agora, me diga o **título do produto**.\"\n      },\n      \"preco\": {\n        \"type\": \"number\",\n        \"status\": \"pending\",\n        \"message\": \"E qual é o **preço** do produto?\"\n      }\n    },\n    \"image_instructions\": {\n        \"image_received_tracker\": if the prompt contains \"image alredy received, it means that you alredy have the image\"\n    },\n    \"next_action\": {\n      \"type\": \"tool_call\",\n      \"tool\": \"adicionar\",\n      \"trigger_condition\": \"all_fields_collected\"\n    }\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1140,380],"id":"48c55d7f-aea8-42f6-aa5c-d1b6808188ef","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[940,600],"id":"0290a6ed-8d89-45b3-a502-8467869e9473","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Z2YenGk8PU1OZZ4O","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.identifier.split(\"_\")[1] }}","tableName":"olivia_memory","contextWindowLength":null},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1160,600],"id":"0774e1cd-0458-4267-8cfb-be4eb05bce03","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uPYyJq0BaOxFlMb1","name":"Postgres account"}}},{"parameters":{"operation":"set","key":"={{ $('When Executed by Another Workflow').item.json.identifier }}_ADD","value":"false"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[1680,600],"id":"93da70e2-75d6-494a-9310-b35881d86a28","name":"validador","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Lv10eJJh3UcctKJJ","mode":"list","cachedResultName":"ADD_PRODUCT_STRIPE"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1480,600],"id":"97b9cc1d-6b3c-4650-a5b4-0155dd80b7a8","name":"ADICIONAR"},{"parameters":{"operation":"get","propertyName":"IMAGE","key":"={{ $json.identifier }}_IMAGE","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[260,380],"id":"a831ca5c-3f31-41a4-970b-fb369f975141","name":"Redis","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8c59fc2-a0e8-4cf9-aaea-7ac58e8ca233","leftValue":"={{ $json.IMAGE }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,380],"id":"fcd83f50-c166-4e7f-b2c9-606b1abacdb4","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"c8725162-6eed-4013-82db-3cef0bf4dc5c","name":"image_received","value":"image alredy received ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,280],"id":"9b8b7d97-4c57-4a6d-8606-37804b944747","name":"Edit Fields"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.serverUrl }}/message/sendText/{{ $('When Executed by Another Workflow').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('When Executed by Another Workflow').item.json.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When Executed by Another Workflow').item.json.remoteJid }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 4852 }}"}]},"options":{}},"id":"882024d5-d8b9-47a2-9b8b-705a682aaecd","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,380]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"validador":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ADICIONAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Responde texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"identifier":"OLIVIA_556285372793","content":"!add","messageType":"text","serverUrl":"https://evo.vps.veridianbr.com","apiKey":"C9031DDB22EE-4593-9CAB-71F6816612D9","instance":"Olivia","remoteJid":"556285372793@s.whatsapp.net"}}]},"versionId":"69b1f41b-c0dc-4d94-b1d7-e17741e255e8","triggerCount":0,"tags":[{"createdAt":"2025-06-13T18:40:07.620Z","updatedAt":"2025-06-13T18:40:07.620Z","id":"I8g40OOJRBD0JwRy","name":"OLIVIA"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}