workflows/ADD_PRODUCT_STRIPE.json
{"createdAt":"2025-06-24T20:41:43.897Z","updatedAt":"2025-06-24T20:42:51.308Z","id":"Lv10eJJh3UcctKJJ","name":"ADD_PRODUCT_STRIPE","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,340]},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/products","authentication":"predefinedCredentialType","nodeCredentialType":"strapiTokenApi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"anel"},{"name":"images[0]","value":"={{ $('HTTP Request1').item.json.data.link }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,340],"id":"9a459417-bb2f-4714-a32c-aed5ecd4aee5","name":"HTTP Request","credentials":{"strapiTokenApi":{"id":"UzBHDToffVDACOlH","name":"Strapi Token account"}}},{"parameters":{"method":"POST","url":"https://api.imgur.com/3/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID 5ad6ef876399a5c"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"type","value":"image"},{"name":"title","value":"Simple upload"},{"name":"description","value":"This is a simple image upload in Imgur"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,340],"id":"42aca08d-1ffa-4cf1-8614-9d3cfca6cfb5","name":"HTTP Request1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0745f8c3-c972-4e3e-9390-64df2d9944ae","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}