workflows/AGENDAMENTO.json
{"createdAt":"2025-06-06T22:14:55.052Z","updatedAt":"2025-06-16T19:52:57.990Z","id":"4TYUV1QuwZtPpjZI","name":"AGENDAMENTO","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"IDENTIFIER"},{"name":"query"}]}},"id":"4c7e9838-849c-4ea7-8192-d07a5aa73f8b","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-240,120]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"={\n  \"role\": {\n    \"description\": \"Você é um assistente especializado em agendamento de reuniões no Google Calendar.\",\n    \n    \"tools_available\": [\n      {\n        \"name\": \"AGENDAR\",\n        \"purpose\": \"Para criar novos agendamentos no Google Calendar\"\n      },\n      {\n        \"name\": \"DESMARCAR\", \n        \"purpose\": \"Para cancelar reuniões existentes\"\n      },\n      {\n        \"name\": \"BUSCAR_AGENDAMENTOS\",\n        \"purpose\": \"Para consultar reuniões já marcadas\"\n      },\n      {\n        \"name\": \"DATA_ATUAL\",\n        \"purpose\": \"Use como referência a data atual ({{ $now.format('dd-MM-yyyy') }})\"\n      }\n    ],\n\n    \"workflow_obrigatorio\": [\n      {\n        \"step\": 1,\n        \"action\": \"Use BUSCAR_AGENDAMENTOS para verificar agenda completa, visualizando os horários indisponiveis.\"\n      },\n      {\n        \"step\": 2,\n        \"action\": \"Sugerir APENAS 1 horário livre mais próximo. Deixe sempre 2h de intervalo entre cada agendamento, nunca agende dois sequencialmente. A reunião deve ter 1 hora de duração, e só pode ser agendada para dias úteis das 11h-18h\"\n      },\n      {\n        \"step\": 3,\n        \"action\": \"Se usuário aceitar: CONFIRMAR explicitamente antes de agendar\"\n      },\n      {\n        \"step\": 4,\n        \"action\": \"Se usuário recusar: perguntar disponibilidade e usar BUSCAR_AGENDAMENTOS novamente\"\n      },\n      {\n        \"step\": 5,\n        \"action\": \"Após agendamento: enviar link do Google Meet\"\n      }\n    ],\n\n    \"regras_criticas\": [\n      \"NUNCA sugira horários sem usar BUSCAR_AGENDAMENTOS primeiro e consultar a disponibilidade do horário\",\n      \"SEMPRE verifique se já não há outra reunião no mesmo horário\",\n      \"NUNCA agende sem confirmação explícita do usuário\",\n      \"SEMPRE verifique conflitos antes de sugerir horários\",\n      \"Priorize próximo dia útil disponível\",\n      \"SEMPRE confirme: 'Encontrei um dia disponível, posso agendar para [data] das [hora] as [hora]?\",\n    ],\n\n\n    \"output_esperado_em_json\": {\n      \"mensagens\": [\n        {\n          \"mensagem\": \"exemplo\"\n        }\n      ]\n    }\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,120],"id":"e54ca267-928c-499b-886e-a69f0482576d","name":"AI Agent"},{"parameters":{"calendar":{"__rl":true,"value":"c_0a85848b337c70a7fd4ba5e61e397e69fe952ad17ea582f99f94f833fd726c18@group.calendar.google.com","mode":"list","cachedResultName":"veridian agendamentos"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horario de inicio da reunião`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horario de finalização da reunião (1 hora após o inicio)`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `insira também o email do cliente`, 'string') }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"summary":"Reunião Veridian"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[540,440],"id":"aaea0290-1c06-4b0c-a4de-6175b81a3a97","name":"AGENDAR","credentials":{"googleCalendarOAuth2Api":{"id":"DPara7fZwilerd7B","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"c_0a85848b337c70a7fd4ba5e61e397e69fe952ad17ea582f99f94f833fd726c18@group.calendar.google.com","mode":"list","cachedResultName":"veridian agendamentos"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[700,440],"id":"d71ac44b-4f10-4b41-96a3-b7d19b5f8309","name":"DESMARCAR","credentials":{"googleCalendarOAuth2Api":{"id":"DPara7fZwilerd7B","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_0a85848b337c70a7fd4ba5e61e397e69fe952ad17ea582f99f94f833fd726c18@group.calendar.google.com","mode":"list","cachedResultName":"veridian agendamentos"},"timeMin":"={{ $now.plus(1, 'days') }}","timeMax":"={{ $now.plus({ week: 8 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[900,440],"id":"79eeea10-8590-4462-9e2e-9182ea94f8ab","name":"BUSCAR_AGENDAMENTOS","credentials":{"googleCalendarOAuth2Api":{"id":"DPara7fZwilerd7B","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,-140],"id":"cc4cc109-d875-41e9-b18e-1f793d8142fe","name":"When chat message received","webhookId":"32653bbc-5037-4e1e-b2bc-75668fe69f8b"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.IDENTIFIER.slice(-12) }}","tableName":"vivian_memory","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[300,440],"id":"478b6fce-9ebb-4020-95d2-b52433e0e088","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uPYyJq0BaOxFlMb1","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,440],"id":"a2c80336-63bf-4e70-bcd7-da65739b5e36","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"3s47YUdlE4NVNVHy","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AGENDAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DESMARCAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"BUSCAR_AGENDAMENTOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"IDENTIFIER":"LIA_556285372793","query":"sim"}}]},"versionId":"21bfeafd-1864-45fe-9c13-9eb0ddbf14bc","triggerCount":0,"tags":[{"createdAt":"2025-06-06T22:15:01.455Z","updatedAt":"2025-06-06T22:15:01.455Z","id":"imoPstlql1VlmXm2","name":"VIVIAN"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}