workflows/AGENDAMENTO.json
{"createdAt":"2025-06-06T22:14:55.052Z","updatedAt":"2025-06-06T22:15:09.553Z","id":"4TYUV1QuwZtPpjZI","name":"AGENDAMENTO","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"IDENTIFIER"},{"name":"query"}]}},"id":"4c7e9838-849c-4ea7-8192-d07a5aa73f8b","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-240,120]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"={\n  \"role\": {\n    \"description\": \"Você é um assistente especializado em agendamento de reuniões no Google Calendar.\",\n    \n    \"tools_available\": [\n      {\n        \"name\": \"AGENDAR\",\n        \"purpose\": \"Para criar novos agendamentos no Google Calendar\"\n      },\n      {\n        \"name\": \"DESMARCAR\", \n        \"purpose\": \"Para cancelar reuniões existentes\"\n      },\n      {\n        \"name\": \"BUSCAR_AGENDAMENTOS\",\n        \"purpose\": \"Para consultar reuniões já marcadas\"\n      },\n      {\n        \"name\": \"DATA_ATUAL\",\n        \"purpose\": \"Use como referência a data atual ({{ $now }})\"\n      }\n    ],\n\n    \"workflow_obrigatorio\": [\n      {\n        \"step\": 1,\n        \"action\": \"Use BUSCAR_AGENDAMENTOS para verificar agenda completa, visualizando os horários indisponiveis.\"\n      },\n      {\n        \"step\": 2,\n        \"action\": \"Sugerir APENAS 1 horário livre mais próximo. Deixe sempre 2h de intervalo entre cada agendamento, nunca agende dois sequencialmente. A reunião deve ter 1 hora de duração, e só pode ser agendada para dias úteis das 11h-18h\"\n      },\n      {\n        \"step\": 3,\n        \"action\": \"Se usuário aceitar: CONFIRMAR explicitamente antes de agendar\"\n      },\n      {\n        \"step\": 4,\n        \"action\": \"Se usuário recusar: perguntar disponibilidade e usar BUSCAR_AGENDAMENTOS novamente\"\n      },\n      {\n        \"step\": 5,\n        \"action\": \"Após agendamento: enviar link do Google Meet\"\n      }\n    ],\n\n    \"regras_criticas\": [\n      \"NUNCA sugira horários sem usar BUSCAR_AGENDAMENTOS primeiro e consultar a disponibilidade do horário\",\n      \"SEMPRE verifique se já não há outra reunião no mesmo horário\",\n      \"NUNCA agende sem confirmação explícita do usuário\",\n      \"SEMPRE verifique conflitos antes de sugerir horários\",\n      \"Priorize próximo dia útil disponível\",\n      \"SEMPRE confirme: 'Encontrei um dia disponível, posso agendar para [data] das [hora] as [hora]?\",\n    ],\n\n\n    \"output_esperado_em_json\": {\n      \"mensagens\": [\n        {\n          \"mensagem\": \"exemplo\"\n        }\n      ]\n    }\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,120],"id":"e54ca267-928c-499b-886e-a69f0482576d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-340,440],"id":"d3706fb4-183e-4155-b428-a872d68b7d1f","name":"Google Gemini Chat Model","disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"e7283df3fd6a88b2cebe2750a62ab762a4f22ad6a65859c11febec57fee67a4b@group.calendar.google.com","mode":"list","cachedResultName":"AGENDA LEGACY"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `horario de inicio da reunião`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `horario de finalização da reunião (1 hora após o inicio)`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `insira também o email do cliente`, 'string') }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"summary":"Reunião LEGACY"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[540,440],"id":"aaea0290-1c06-4b0c-a4de-6175b81a3a97","name":"AGENDAR"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"e7283df3fd6a88b2cebe2750a62ab762a4f22ad6a65859c11febec57fee67a4b@group.calendar.google.com","mode":"list","cachedResultName":"AGENDA LEGACY"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[700,440],"id":"d71ac44b-4f10-4b41-96a3-b7d19b5f8309","name":"DESMARCAR"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"e7283df3fd6a88b2cebe2750a62ab762a4f22ad6a65859c11febec57fee67a4b@group.calendar.google.com","mode":"list","cachedResultName":"AGENDA LEGACY"},"timeMin":"={{ $now.plus(1, 'days') }}","timeMax":"={{ $now.plus({ week: 8 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[900,440],"id":"79eeea10-8590-4462-9e2e-9182ea94f8ab","name":"BUSCAR_AGENDAMENTOS"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"json_object","temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,460],"id":"b9eb1094-d6c8-4d3a-aa81-7f88a6de25a2","name":"OpenAI Chat Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,-140],"id":"cc4cc109-d875-41e9-b18e-1f793d8142fe","name":"When chat message received","webhookId":"32653bbc-5037-4e1e-b2bc-75668fe69f8b"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.IDENTIFIER.slice(-12) }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[300,460],"id":"478b6fce-9ebb-4020-95d2-b52433e0e088","name":"Postgres Chat Memory"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AGENDAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DESMARCAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"BUSCAR_AGENDAMENTOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"IDENTIFIER":"LIA_556285372793","query":"sim"}}]},"versionId":"373b794f-2668-47cd-a950-597bc5edadc6","triggerCount":0,"tags":[{"createdAt":"2025-06-06T22:15:01.455Z","updatedAt":"2025-06-06T22:15:01.455Z","id":"imoPstlql1VlmXm2","name":"VIVIAN"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}