workflows/ATUALIZAR VERSAO WHATSAPP PORTAINER.json
{"createdAt":"2025-06-13T01:11:56.037Z","updatedAt":"2025-06-13T01:22:56.543Z","id":"7PKU9ZQlprG1A98G","name":"ATUALIZAR VERSAO WHATSAPP PORTAINER","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const response = $input.first().json.data; // Pega o retorno do HTTP Request\nconst html = response.body || response; // Ajusta para o campo correto do HTML\n\nconst match = html.match(/https:\\/\\/web\\.whatsapp\\.com\\/\\?v=([\\d.-\\w]+)/);\n\nif (match && match[1]) {\n    return [{ json: { whatsappVersion: match[1] } }];\n} else {\n    return [{ json: { error: \"Versão não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,420],"id":"52e8993f-9692-41aa-b652-70f6b6f93a20","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"465e436b-748a-47b6-952a-04958b50ef05","name":"whatsappVersion","value":"={{ $json.whatsappVersion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,300],"id":"e8ab20ea-a8e1-4e73-b747-178059e6adae","name":"Edit Fields"},{"parameters":{"jsCode":"// Exibe a estrutura do objeto para análise\nconsole.log($json);\n\n// Acessa o array dentro da chave \"data\"\nconst stacks = $json.data || [];  // Se a chave \"data\" não existir, usa um array vazio\n\n// Inicia a variável para armazenar o resultado\nlet result = null;\n\n// Acessa o valor de stackName dinamicamente\nconst stackName = $('Informações').first().json.stackName;  // Aqui você pega o valor dinamicamente\n\n// Procura por stackName no array de stacks\nfor (let i = 0; i < stacks.length; i++) {\n    const stack = stacks[i];\n\n    // Verifica se o nome da stack é igual ao valor dinâmico de stackName\n    if (stack.Name === stackName) {\n        result = stack;  // Encontrou a stack correspondente\n        break;  // Interrompe o loop assim que encontrar\n    }\n}\n\n// Exibe o resultado no console para análise\nconsole.log(result);\n\n// Retorna o resultado, se encontrado\nif (result) {\n    return [{ json: { stackId: result.Id, stackName: result.Name } }];\n} else {\n    return [{ json: { error: \"Stack não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,320],"id":"e5c20b85-a72b-4691-b74b-8d6fdbb615eb","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"0dad9828-445c-4bbf-8a6a-4628fd0eb5b3","name":"stackId","value":"={{ $json.stackId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,200],"id":"0760ecd3-bad9-4d3b-96d5-1f2a14fffb72","name":"StackID"},{"parameters":{"url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').first().json.account_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,200],"id":"546ea941-1547-4ad1-9f44-79086780d0ff","name":"GetStackID"},{"parameters":{"url":"https://wppconnect.io/whatsapp-versions/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,180],"id":"36870f34-0f52-41b2-b918-b99eca03616a","name":"WPP Version"},{"parameters":{"method":"PUT","url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks/{{ $('StackID').item.json.stackId }}?endpointId=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').item.json.account_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pullImage\": false,\n  \"prune\": true,\n  \"stackFileContent\": \"{{ $json.stackFormated }}\"\n}","options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,300],"id":"10b63794-427c-4868-b413-d8315bc82998","name":"Update Stack"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[420,440],"id":"1f3eb21a-1ced-4651-a74a-f80f6a9baa94","name":"Aggregate"},{"parameters":{"values":{"string":[{"name":"account_token","value":"TOKEN DO PORTAINER"},{"name":"LinkPortainer","value":"https://portainer.dominio.com.br"},{"name":"stackName","value":"evolution? coloca igual a sua!"},{"name":"stackBase","value":"=poe o copy na stack depois joga ela aqui "}]},"options":{"dotNotation":false}},"id":"8111008d-fea2-43a1-9a2f-70fb2a93fd48","name":"Informações","type":"n8n-nodes-base.set","typeVersion":2,"position":[120,300],"alwaysOutputData":false},{"parameters":{"content":"## ATENÇÃO!!! \n**Informações** insira as informações para funcionamento do fluxo \n\n\n\n\n\n\n\n\n\n\n\n\n*Você vai precisa de:*\n\n— Token do Portainer\n— Link do seu Portainer\n— Nome exato da stack da sua Evolution\n— Sua stack, obvio porque ela contem suas informações como cor do qr, info da api e globalkey ( mesmo que n use, mas ja imaginou atualiza e desconfigura tudo da sua stack?)\n\n_OBS:_\nO link do portainer e *COM* \"https://\"\n*Não* insira a barra no final. exemplo:\n\nhttps://meu.portainer.com.br\n\nCopy:\n{{ $('Edit Fields').item.json.whatsappVersion }}","height":620,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,180],"typeVersion":1,"id":"56ce9819-24f9-450b-b1d6-6e8eb6dc49d8","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,300],"id":"7f39da0b-29df-4a8b-af26-3d97801fc625","name":"Schedule Trigger"},{"parameters":{"jsCode":"const originalYaml = $('Informações').first().json.stackBase;\n\n// Substitui apenas a linha específica\nconst modifiedYaml = originalYaml.replace(\n  /CONFIG_SESSION_PHONE_VERSION: \\{\\{.*?\\}\\}/,\n  'CONFIG_SESSION_PHONE_VERSION: {{stackID}}'\n);\n\n// Escapamento completo para JSON\nconst stackFormated = modifiedYaml\n  .replace(/\\\\/g, '\\\\\\\\')  // Backslashes\n  .replace(/\"/g, '\\\\\"')    // Aspas\n  .replace(/\\n/g, '\\\\n')   // Quebras de linha\n  .replace(/\\t/g, '\\\\t');  // Tabs\n\nreturn [{\n  json: {\n    stackFormated: stackFormated\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,440],"id":"a9887a6f-d62f-441c-86b2-65f3e5b7f33f","name":"Code2"}],"connections":{"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Informações","type":"main","index":0}]]},"Code1":{"main":[[{"node":"StackID","type":"main","index":0}]]},"GetStackID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"WPP Version":{"main":[[{"node":"Code","type":"main","index":0}]]},"StackID":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"GetStackID","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"WPP Version","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Update Stack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"73690049-94cb-4693-98b9-25d0720761b2","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}