workflows/ATUALIZAR VERSAO WHATSAPP PORTAINER.json
{"createdAt":"2025-06-13T01:11:56.037Z","updatedAt":"2025-07-14T15:19:35.323Z","id":"7PKU9ZQlprG1A98G","name":"ATUALIZAR VERSAO WHATSAPP PORTAINER","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const response = $input.first().json.data; // Pega o retorno do HTTP Request\nconst html = response.body || response; // Ajusta para o campo correto do HTML\n\nconst match = html.match(/https:\\/\\/web\\.whatsapp\\.com\\/\\?v=([\\d.-\\w]+)/);\n\nif (match && match[1]) {\n    return [{ json: { whatsappVersion: match[1] } }];\n} else {\n    return [{ json: { error: \"Versão não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,420],"id":"52e8993f-9692-41aa-b652-70f6b6f93a20","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"465e436b-748a-47b6-952a-04958b50ef05","name":"whatsappVersion","value":"={{ $json.whatsappVersion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,300],"id":"e8ab20ea-a8e1-4e73-b747-178059e6adae","name":"Edit Fields"},{"parameters":{"jsCode":"// Exibe a estrutura do objeto para análise\nconsole.log($json);\n\n// Acessa o array dentro da chave \"data\"\nconst stacks = $json.data || [];  // Se a chave \"data\" não existir, usa um array vazio\n\n// Inicia a variável para armazenar o resultado\nlet result = null;\n\n// Acessa o valor de stackName dinamicamente\nconst stackName = $('Informações').first().json.stackName;  // Aqui você pega o valor dinamicamente\n\n// Procura por stackName no array de stacks\nfor (let i = 0; i < stacks.length; i++) {\n    const stack = stacks[i];\n\n    // Verifica se o nome da stack é igual ao valor dinâmico de stackName\n    if (stack.Name === stackName) {\n        result = stack;  // Encontrou a stack correspondente\n        break;  // Interrompe o loop assim que encontrar\n    }\n}\n\n// Exibe o resultado no console para análise\nconsole.log(result);\n\n// Retorna o resultado, se encontrado\nif (result) {\n    return [{ json: { stackId: result.Id, stackName: result.Name } }];\n} else {\n    return [{ json: { error: \"Stack não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,320],"id":"e5c20b85-a72b-4691-b74b-8d6fdbb615eb","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"0dad9828-445c-4bbf-8a6a-4628fd0eb5b3","name":"stackId","value":"={{ $json.stackId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,200],"id":"0760ecd3-bad9-4d3b-96d5-1f2a14fffb72","name":"StackID"},{"parameters":{"url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').first().json.account_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,200],"id":"546ea941-1547-4ad1-9f44-79086780d0ff","name":"GetStackID"},{"parameters":{"url":"https://wppconnect.io/whatsapp-versions/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,180],"id":"36870f34-0f52-41b2-b918-b99eca03616a","name":"WPP Version"},{"parameters":{"method":"PUT","url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks/{{ $('StackID').item.json.stackId }}?endpointId=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').item.json.account_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pullImage\": false,\n  \"prune\": true,\n  \"stackFileContent\": \"{{ $json.stackFormated }}\"\n}","options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,300],"id":"10b63794-427c-4868-b413-d8315bc82998","name":"Update Stack"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[420,440],"id":"1f3eb21a-1ced-4651-a74a-f80f6a9baa94","name":"Aggregate"},{"parameters":{"values":{"string":[{"name":"account_token","value":"ptr_q87OKH6Rh2/dRuyVA4T4VDctQInT/waA5F8Kijsti3o="},{"name":"LinkPortainer","value":"https://portainer.vps.veridianbr.com"},{"name":"stackName","value":"evolution"},{"name":"stackBase","value":"=version: \"3.7\"\nservices:\n\n  evolution:\n    image: evoapicloud/evolution-api:latest ## Versão da Evolution API\n\n    volumes:\n      - evolution_instances:/evolution/instances\n\n    networks:\n      - veridian-net ## Nome da rede interna\n\n    environment:\n      ## ⚙️ Configurações Gerais\n      - SERVER_URL=https://evo.vps.veridianbr.com\n      - AUTHENTICATION_API_KEY=6c188ff5c5ed89f5ec4b6f180bb7fd88\n      - AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true\n      - DEL_INSTANCE=false\n      - QRCODE_LIMIT=1902\n      - LANGUAGE=pt-BR\n      \n      ## 📱 Configuração do Cliente\n      ## Pegue a versão em: https://web.whatsapp.com/sw.js\n      - CONFIG_SESSION_PHONE_VERSION=2.3000.1023015479\n      - CONFIG_SESSION_PHONE_CLIENT=OrionDesign\n      - CONFIG_SESSION_PHONE_NAME=Chrome\n      \n      ## 🗄️ Configuração do Banco de Dados\n      - DATABASE_ENABLED=true\n      - DATABASE_PROVIDER=postgresql\n      - DATABASE_CONNECTION_URI=postgresql://postgres:5a513bd22bd7b520d861954f0c58124f@postgres:5432/evolution\n      - DATABASE_CONNECTION_CLIENT_NAME=evolution\n      - DATABASE_SAVE_DATA_INSTANCE=true\n      - DATABASE_SAVE_DATA_NEW_MESSAGE=true\n      - DATABASE_SAVE_MESSAGE_UPDATE=true\n      - DATABASE_SAVE_DATA_CONTACTS=true\n      - DATABASE_SAVE_DATA_CHATS=true\n      - DATABASE_SAVE_DATA_LABELS=true\n      - DATABASE_SAVE_DATA_HISTORIC=true\n      \n      ## 🤖 Integração com OpenAI\n      - OPENAI_ENABLED=true\n      \n      ## 🌐 Integração com Dify\n      - DIFY_ENABLED=true\n      \n      ## 💬 Integração com Typebot\n      - TYPEBOT_ENABLED=true\n      - TYPEBOT_API_VERSION=latest\n      \n      ## 🗣️ Integração com Chatwoot\n      - CHATWOOT_ENABLED=true\n      - CHATWOOT_MESSAGE_READ=true\n      - CHATWOOT_MESSAGE_DELETE=true\n      - CHATWOOT_IMPORT_DATABASE_CONNECTION_URI=postgresql://postgres:SENHA_DO_PGVECTOR@pgvector:5432/chatwoot?sslmode=disable\n      - CHATWOOT_IMPORT_PLACEHOLDER_MEDIA_MESSAGE=false\n      \n      ## 🧊 Configuração do Cache\n      - CACHE_REDIS_ENABLED=true\n      - CACHE_REDIS_URI=redis://redis:6379/8\n      - CACHE_REDIS_PREFIX_KEY=evolution\n      - CACHE_REDIS_SAVE_INSTANCES=false\n      - CACHE_LOCAL_ENABLED=false\n      \n      ## ☁️ Configuração do S3\n      - S3_ENABLED=false\n      - S3_ACCESS_KEY=\n      - S3_SECRET_KEY=\n      - S3_BUCKET=evolution\n      - S3_PORT=443\n      - S3_ENDPOINT=\n      - S3_USE_SSL=true\n      #- S3_REGION=eu-south\n\n      ## 💼 Configuração do WhatsApp Business\n      - WA_BUSINESS_TOKEN_WEBHOOK=evolution\n      - WA_BUSINESS_URL=https://graph.facebook.com\n      - WA_BUSINESS_VERSION=v20.0\n      - WA_BUSINESS_LANGUAGE=pt_BR\n\n      ## 📊 Telemetria\n      - TELEMETRY=false\n      - TELEMETRY_URL=\n\n      ## 🌐 Configuração do WebSocket\n      - WEBSOCKET_ENABLED=false\n      - WEBSOCKET_GLOBAL_EVENTS=false\n\n      ## 📨 Configuração do SQS\n      - SQS_ENABLED=false\n      - SQS_ACCESS_KEY_ID=\n      - SQS_SECRET_ACCESS_KEY=\n      - SQS_ACCOUNT_ID=\n      - SQS_REGION=\n\n      ## 🐇 Configuração do RabbitMQ\n      - RABBITMQ_ENABLED=false\n      - RABBITMQ_URI=amqp://USER:PASS@rabbitmq:5672/evolution\n      - RABBITMQ_EXCHANGE_NAME=evolution\n      - RABBITMQ_GLOBAL_ENABLED=false\n      - RABBITMQ_EVENTS_APPLICATION_STARTUP=false\n      - RABBITMQ_EVENTS_INSTANCE_CREATE=false\n      - RABBITMQ_EVENTS_INSTANCE_DELETE=false\n      - RABBITMQ_EVENTS_QRCODE_UPDATED=false\n      - RABBITMQ_EVENTS_MESSAGES_SET=false\n      - RABBITMQ_EVENTS_MESSAGES_UPSERT=true\n      - RABBITMQ_EVENTS_MESSAGES_EDITED=false\n      - RABBITMQ_EVENTS_MESSAGES_UPDATE=false\n      - RABBITMQ_EVENTS_MESSAGES_DELETE=false\n      - RABBITMQ_EVENTS_SEND_MESSAGE=false\n      - RABBITMQ_EVENTS_CONTACTS_SET=false\n      - RABBITMQ_EVENTS_CONTACTS_UPSERT=false\n      - RABBITMQ_EVENTS_CONTACTS_UPDATE=false\n      - RABBITMQ_EVENTS_PRESENCE_UPDATE=false\n      - RABBITMQ_EVENTS_CHATS_SET=false\n      - RABBITMQ_EVENTS_CHATS_UPSERT=false\n      - RABBITMQ_EVENTS_CHATS_UPDATE=false\n      - RABBITMQ_EVENTS_CHATS_DELETE=false\n      - RABBITMQ_EVENTS_GROUPS_UPSERT=false\n      - RABBITMQ_EVENTS_GROUP_UPDATE=false\n      - RABBITMQ_EVENTS_GROUP_PARTICIPANTS_UPDATE=false\n      - RABBITMQ_EVENTS_CONNECTION_UPDATE=true\n      - RABBITMQ_EVENTS_CALL=false\n      - RABBITMQ_EVENTS_TYPEBOT_START=false\n      - RABBITMQ_EVENTS_TYPEBOT_CHANGE_STATUS=false\n\n      ## 🌐 Configuração do Webhook\n      - WEBHOOK_GLOBAL_ENABLED=false\n      - WEBHOOK_GLOBAL_URL=\n      - WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false\n      - WEBHOOK_EVENTS_APPLICATION_STARTUP=false\n      - WEBHOOK_EVENTS_QRCODE_UPDATED=false\n      - WEBHOOK_EVENTS_MESSAGES_SET=false\n      - WEBHOOK_EVENTS_MESSAGES_UPSERT=false\n      - WEBHOOK_EVENTS_MESSAGES_EDITED=false\n      - WEBHOOK_EVENTS_MESSAGES_UPDATE=false\n      - WEBHOOK_EVENTS_MESSAGES_DELETE=false\n      - WEBHOOK_EVENTS_SEND_MESSAGE=false\n      - WEBHOOK_EVENTS_CONTACTS_SET=false\n      - WEBHOOK_EVENTS_CONTACTS_UPSERT=false\n      - WEBHOOK_EVENTS_CONTACTS_UPDATE=false\n      - WEBHOOK_EVENTS_PRESENCE_UPDATE=false\n      - WEBHOOK_EVENTS_CHATS_SET=false\n      - WEBHOOK_EVENTS_CHATS_UPSERT=false\n      - WEBHOOK_EVENTS_CHATS_UPDATE=false\n      - WEBHOOK_EVENTS_CHATS_DELETE=false\n      - WEBHOOK_EVENTS_GROUPS_UPSERT=false\n      - WEBHOOK_EVENTS_GROUPS_UPDATE=false\n      - WEBHOOK_EVENTS_GROUP_PARTICIPANTS_UPDATE=false\n      - WEBHOOK_EVENTS_CONNECTION_UPDATE=false\n      - WEBHOOK_EVENTS_LABELS_EDIT=false\n      - WEBHOOK_EVENTS_LABELS_ASSOCIATION=false\n      - WEBHOOK_EVENTS_CALL=false\n      - WEBHOOK_EVENTS_TYPEBOT_START=false\n      - WEBHOOK_EVENTS_TYPEBOT_CHANGE_STATUS=false\n      - WEBHOOK_EVENTS_ERRORS=false\n      - WEBHOOK_EVENTS_ERRORS_WEBHOOK=\n\n      ## 🔌 Configuração do Provider\n      - PROVIDER_ENABLED=false\n      - PROVIDER_HOST=127.0.0.1\n      - PROVIDER_PORT=5656\n      - PROVIDER_PREFIX=evolution\n      \n    deploy:\n      mode: replicated\n      replicas: 1\n      placement:\n        constraints:\n        - node.role == manager\n      labels:\n        - traefik.enable=1\n        - traefik.http.routers.evolution.rule=Host(`evo.vps.veridianbr.com`) ## Url da Evolution API\n        - traefik.http.routers.evolution.entrypoints=websecure\n        - traefik.http.routers.evolution.priority=1\n        - traefik.http.routers.evolution.tls.certresolver=letsencryptresolver\n        - traefik.http.routers.evolution.service=evolution\n        - traefik.http.services.evolution.loadbalancer.server.port=8080\n        - traefik.http.services.evolution.loadbalancer.passHostHeader=true\n\n## --------------------------- ORION --------------------------- ##\n\nvolumes:\n  evolution_instances:\n    external: true\n    name: evolution_instances\n\nnetworks:\n  veridian-net: ## Nome da rede interna\n    external: true\n    name: veridian-net ## Nome da rede interna\n"}]},"options":{"dotNotation":false}},"id":"8111008d-fea2-43a1-9a2f-70fb2a93fd48","name":"Informações","type":"n8n-nodes-base.set","typeVersion":2,"position":[120,300],"alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"daysInterval":10,"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,300],"id":"7f39da0b-29df-4a8b-af26-3d97801fc625","name":"Schedule Trigger"},{"parameters":{"jsCode":"const originalYaml = $('Informações').first().json.stackBase;\n\n// Substitui apenas a linha específica\nconst modifiedYaml = originalYaml.replace(\n  /CONFIG_SESSION_PHONE_VERSION: \\{\\{.*?\\}\\}/,\n  'CONFIG_SESSION_PHONE_VERSION: {{stackID}}'\n);\n\n// Escapamento completo para JSON\nconst stackFormated = modifiedYaml\n  .replace(/\\\\/g, '\\\\\\\\')  // Backslashes\n  .replace(/\"/g, '\\\\\"')    // Aspas\n  .replace(/\\n/g, '\\\\n')   // Quebras de linha\n  .replace(/\\t/g, '\\\\t');  // Tabs\n\nreturn [{\n  json: {\n    stackFormated: stackFormated\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,440],"id":"a9887a6f-d62f-441c-86b2-65f3e5b7f33f","name":"Code2"}],"connections":{"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Informações","type":"main","index":0}]]},"Code1":{"main":[[{"node":"StackID","type":"main","index":0}]]},"GetStackID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"WPP Version":{"main":[[{"node":"Code","type":"main","index":0}]]},"StackID":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"GetStackID","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"WPP Version","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Update Stack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"66a3544c-aa4a-4833-b635-7a0a833839ab","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}