workflows/autofill.json
{"createdAt":"2025-07-05T13:18:53.331Z","updatedAt":"2025-07-05T14:23:23.960Z","id":"LSCwnpqT93xhNlrO","name":"autofill","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-transcription","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"adf618ff-057e-4535-8248-6a7cb4ea2abb","name":"Webhook","webhookId":"b97a82fe-8a35-4726-a965-3fbd41468e3b","credentials":{"httpBasicAuth":{"id":"C6XGsibHYnAhQp4Z","name":"Unnamed credential"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"audio","options":{"language":"pt","temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"cd51b5dd-9485-48b8-a1d2-8ad01c802967","name":"OpenAI","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('OpenAI').item }}","options":{"systemMessage":"=Você é um especialista em equipamentos agrícolas processando áudio de uma plataforma de locação chamada \"AgroLoc\".\n\nCONTEXTO: Usuários descrevem equipamentos agrícolas para locação. Corrija erros de transcrição e extraia dados estruturados.\n\nMARCAS CONHECIDAS: John Deere, Massey Ferguson, Case IH, New Holland, Valtra, Fendt, Claas, Jacto, Baldan, Caterpillar, Schneider, Kepler Weber\n\nCATEGORIAS: Tratores, Colheitadeiras, Plantadeiras, Pulverizadores, Implementos, Sistemas de Irrigação, Equipamentos de Construção\n\nCORREÇÕES COMUNS:\n- \"Jon Dir\" → \"John Deere\"\n- \"Messi Ferguson\" → \"Massey Ferguson\" \n- \"cavalos\" → potência em HP\n- números por extenso → dígitos\n\nEXTRAIA (se disponível):\n- title: \"Marca Modelo - Ano\"\n- description: descrição detalhada corrigida\n- brand: marca exata\n- model: modelo específico  \n- year: ano (1990-2025)\n- powerHp: potência em HP\n- pricePerDay: preço/dia (formato decimal)\n- pricePerHour: preço/hora (formato decimal)\n- specifications: [{key, value, unit}] - características técnicas\n\nFORMATO DE SAÍDA:\n```json\n{\n  \"transcription\": \"texto corrigido\",\n  \"equipmentData\": {\n    \"title\": \"Trator John Deere 6145R - 2020\",\n    \"description\": \"descrição completa\",\n    \"brand\": \"John Deere\",\n    \"model\": \"6145R\",\n    \"year\": 2020,\n    \"powerHp\": 145,\n    \"pricePerDay\": 450.00,\n    \"pricePerHour\": 65.00,\n    \"specifications\": [\n      {\"key\": \"Transmissão\", \"value\": \"Automática\", \"unit\": \"\"},\n      {\"key\": \"Potência\", \"value\": \"145\", \"unit\": \"HP\"}\n    ]\n  }\n}\n```\n\nRetorne APENAS JSON válido, sem explicações.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,0],"id":"4a5daf6f-2f70-4cfa-881a-e9be267d9591","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,220],"id":"7787132f-b568-495a-9f72-88279cd51109","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[760,0],"id":"3b73e8ed-4b08-4d20-8020-db35a375a790","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.vps.veridianbr.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:140.0) Gecko/20100101 Firefox/140.0","content-length":"237","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.5","authorization":"Basic dmVyaWRpYW46XlV4TnptP3RMajU9Uz1F","content-type":"multipart/form-data; boundary=----geckoformboundaryb64aebbe829b0defcbe236212458a5c8","dnt":"1","origin":"http://localhost:5173","priority":"u=0","referer":"http://localhost:5173/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","sec-gpc":"1","te":"trailers","x-forwarded-for":"187.62.101.245","x-forwarded-host":"webhook.vps.veridianbr.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2d6eeb96cbf6","x-real-ip":"187.62.101.245"},"params":{},"query":{},"body":{},"webhookUrl":"https://webhook.vps.veridianbr.com/webhook/voice-transcription","executionMode":"production"}}]},"versionId":"7b883cf4-2792-4a40-beb3-fef4700dc219","triggerCount":1,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}