workflows/Backup fluxos.json
{"createdAt":"2025-06-09T16:57:33.579Z","updatedAt":"2025-06-09T18:26:53.913Z","id":"o6B9fraeELZrRw3o","name":"Backup fluxos","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"fb277257-937a-40de-89e3-1f23ac638f64","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-600,100],"typeVersion":1},{"parameters":{"options":{}},"id":"f66fa587-7152-4e44-8860-cff5cb980295","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[100,-340],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"d0c91b10-d71a-4de9-afa1-07bb745bb541","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[-540,-340],"typeVersion":1.2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{"waitForSubWorkflow":true}},"id":"9f3e14a7-98cd-44d6-8956-d58a3d0cf5f5","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","position":[500,-320],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"authentication":"webhook","content":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[460,-540],"id":"0b10f4b6-380c-47cd-94bc-4dbbc7c9eb1c","name":"Completed notification","webhookId":"162133a5-5e9e-4fb2-9c60-e0be76c36501","credentials":{"discordWebhookApi":{"id":"BDubAIdBi3D97fxl","name":"Veridian discord Webhook  "}}},{"parameters":{"authentication":"webhook","content":"=:x: Failed to backup {{ $('Loop Over Items1').item.json.nodes[0].id }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[740,-300],"id":"bee95f17-0fab-4e49-9ad7-b03f868380e8","name":"Failed flows","webhookId":"6c086492-d1da-46a3-91fe-1efff0e0dc47","credentials":{"discordWebhookApi":{"id":"BDubAIdBi3D97fxl","name":"Veridian discord Webhook  "}}},{"parameters":{"authentication":"webhook","content":"=:information_source:  Starting n8n Workflow Backup [{{ $execution.id }}]","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-340,-340],"id":"051928f0-6e64-4d30-8888-1d3bed31bf6e","name":"Starting message","webhookId":"132388de-256c-4102-9daa-5d4f73b083f8","credentials":{"discordWebhookApi":{"id":"BDubAIdBi3D97fxl","name":"Veridian discord Webhook  "}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"91dc3df4-bfb5-4193-85f3-ec5631eecd23","name":"n8n","type":"n8n-nodes-base.n8n","position":[-140,-340],"typeVersion":1,"credentials":{"n8nApi":{"id":"Cth9TGZYLNnXZDpu","name":"n8n account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Done"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[280,-540],"id":"ddc36817-f19c-4f81-8ac1-2f9380929346","name":"Aggregate"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"34ae9442-e344-4416-b300-f8cdd6a2920b","name":"GitHub","type":"n8n-nodes-base.github","position":[60,120],"typeVersion":1,"alwaysOutputData":true,"webhookId":"182847fa-24db-4f81-8813-19fcbb2e5d20","credentials":{"githubOAuth2Api":{"id":"qFegAxvVvTxgSIKJ","name":"Veridian GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"veridianbr"},{"name":"repo.name","value":"backup"},{"name":"repo.path","value":"=workflows/"}]},"options":{}},"id":"98e732a7-d496-48b6-b7dd-dd9524cfea9c","name":"Globals","type":"n8n-nodes-base.set","position":[-400,100],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"aa17ef26-99b9-4097-ba83-e54ed2bf7bad","name":"If","type":"n8n-nodes-base.if","position":[260,120],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items2').item.json.toJsonString() }}"}]},"options":{}},"id":"ecdd3863-eef0-41a6-88d1-6eefa29b0007","name":"If1","type":"n8n-nodes-base.if","position":[680,200],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"56853578-5eb9-4a68-9b9d-1462d702f6b3","name":"Code","type":"n8n-nodes-base.code","position":[500,0],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"id":"ae8c06d2-78ca-41fb-9e16-10834be3dde0","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[460,140],"typeVersion":1,"webhookId":"d7170d12-ef17-4e26-b6ed-c301bcfb4416","credentials":{"githubOAuth2Api":{"id":"qFegAxvVvTxgSIKJ","name":"Veridian GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"id":"78c6b296-1e71-42a0-a547-42259a771cc3","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[940,240],"typeVersion":1,"webhookId":"19568673-ccd7-4279-b1ba-86d172965c80","credentials":{"githubOAuth2Api":{"id":"qFegAxvVvTxgSIKJ","name":"Veridian GitHub account"}}},{"parameters":{"options":{}},"id":"49cdb999-4b8d-4f32-b28c-67519fdd9ccd","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","position":[-180,100],"executeOnce":false,"typeVersion":3}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Starting message","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Failed flows","type":"main","index":0}]]},"Failed flows":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Starting message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Completed notification","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"createdAt":"2025-06-08T12:54:36.087Z","updatedAt":"2025-06-08T12:54:40.840Z","id":"crAOdqyC12EalEmT","name":"teste","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4240,460],"id":"c7990380-3fa8-4b3a-b68d-eddecf6918e3","name":"Digitando...","credentials":{}},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4400,460],"id":"c2ab2513-f619-4d5a-b5d7-9b67cc8b7eb7","name":"Resposta","credentials":{}},{"parameters":{"fieldToSplitOut":"resposta","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4080,460],"id":"7bd73036-dce4-4d65-9023-8a6d39f5e76c","name":"Saída"},{"parameters":{"httpMethod":"POST","path":"testes/messages-upsert","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,280],"id":"511e684b-6b08-4600-8bb8-8a4dbcb0c3d0","name":"Início","webhookId":"7c9e6bae-af88-4741-aa66-150a2e7bb465"},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT thread_id FROM threads WHERE whatsapp = '{{ $('Juntar Fila').item.json.whatsapp }}'),\n  ''\n) AS thread_id;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2980,460],"id":"39af6dfe-5e26-405c-aa22-60559f73f13c","name":"Verificar Thread","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cc0722d-b223-4913-9fff-f76f1c7390a7","leftValue":"={{ $json.threadId }}","rightValue":"={{ $('Verificar Thread').item.json.thread_id }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3560,460],"id":"5b90af8f-61a0-42d1-a185-76545eb9abc8","name":"Verificar Thread Usado","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO threads (whatsapp, thread_id)\nVALUES ('{{ $('Juntar Fila').item.json.whatsapp }}', '{{ $('Assistente').item.json.threadId }}');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3740,560],"id":"ff9ed301-9d50-4f38-b628-f9dc3a37072a","name":"Vincular Thread"},{"parameters":{"assignments":{"assignments":[{"id":"883a9619-5a61-4da8-963e-a31ec7c861d8","name":"resposta","value":"={{ $('Assistente').item.json.output }}","type":"string"},{"id":"59d1addd-e715-46cf-ab99-30706ea70f05","name":"threadId","value":"={{ $('Assistente').item.json.threadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3920,460],"id":"3f084b9a-59a9-4d8b-9433-0aeb3ddec98a","name":"Filtro de Saída"},{"parameters":{"operation":"executeQuery","query":"UPDATE threads\nSET ultima_interacao = NOW()\nWHERE whatsapp = '{{ $('Juntar Fila').item.json.whatsapp }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3740,360],"id":"c6ee64fa-4832-4065-a793-5dc05cb388e8","name":"Hora Interação"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,280],"id":"2104a145-2aa9-42b5-bf58-7c87e427f2d7","name":"Gatilho Diário"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"audio","options":{"fileName":"audio.ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1020,160],"id":"56bbdfe5-7736-4745-87b0-709370ae7a05","name":"Audio"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM mensagens_temp\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-440,600],"id":"05b3a0e3-b356-4fd8-bc2d-5ea161c70ad6","name":"Deletar Filas"},{"parameters":{"jsCode":"// Junta todas as mensagens com quebra de linha\nconst mensagens = items.map(item => item.json.mensagem);\nconst textoUnico = mensagens.join('\\n\\n');\n\n// Tenta buscar do Filtro de Entrada\nlet whatsapp = '';\nlet nome = '';\n\n  whatsapp = $input.first().json.whatsapp;\n  nome = $input.first().json.nome;\n\nreturn [{\n  json: {\n    whatsapp,\n    nome,\n    mensagem: textoUnico\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,460],"id":"ca7bc255-947d-4a5b-93fa-7b0f9ea4d4fe","name":"Juntar Fila"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM mensagens_temp\n WHERE whatsapp = '{{ $('Juntar Fila').item.json.whatsapp }}'\n   AND status = 'aguardando';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2820,460],"id":"9d0bd15d-ab0c-44d4-be27-3094f7a3d66f","name":"Limpar Fila"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mensagens_temp (whatsapp, nome, mensagem, status)\nVALUES ($1, $2, $3, $4);\n","options":{"queryReplacement":"={{ [ $json.whatsapp, $json.nome, $json.mensagem, 'aguardando' ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1800,460],"id":"58541e05-09c9-42cf-b017-aeeae2147be3","name":"Enfileirar Msgs"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS cnt\n  FROM mensagens_temp\n WHERE whatsapp = '{{ $('Entrada').item.json.whatsapp }}'\n   AND status = 'aguardando';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1960,460],"id":"56f444a4-2ae3-4432-a344-637c85ca2df0","name":"Verificar Msgs"},{"parameters":{"operation":"executeQuery","query":"SELECT whatsapp, nome, mensagem\n  FROM mensagens_temp\n WHERE whatsapp = '{{ $('Entrada').item.json.whatsapp }}'\n   AND status = 'aguardando'\n ORDER BY data ASC;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2500,460],"id":"76f6b382-d531-45c2-b5f9-d81098b08fec","name":"Recuperar Msgs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4625778-dc64-4bbb-948e-d96c81dc1a18","leftValue":"={{ $json.cnt }}","rightValue":"=1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2120,460],"id":"e186d1f8-c3bd-4e17-b10f-ce664d1b3703","name":"Contar Msgs"},{"parameters":{"assignments":{"assignments":[{"id":"ac010987-c4ca-4f8a-b8ec-d48ccd0cfa21","name":"body.data.message.base64","value":"={{ $('Início').item.json.body.data.message.base64 }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,160],"id":"d6dd0616-858f-4328-b704-69d464488a0b","name":"Capturar Áudio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d264c6f7-86a4-4169-869a-9bdabd7435af","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c6359808-8b23-484e-830f-9c1b919030e6","leftValue":"={{ $json.body.data.key.remoteJid.split(\"@\") [0] }}","rightValue":"55149900000000","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,280],"id":"fb464d9a-aed5-4383-be91-d6598615a598","name":"Filtro de Usuário","notesInFlow":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,600],"id":"67f5a696-0233-415a-aa93-4a82a2eebe0b","name":"Ativação Manual"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"=imagem","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1020,960],"id":"c4a7f2fe-93e3-4845-8ae3-1954013ac6f1","name":"Imagem"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63ce0d97-945b-487b-a3bd-ad49efe04560","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Início').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"d650347e-dca4-43c2-ba06-74cecb71d271"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b23a3584-07d1-413e-9629-c181763e5009","leftValue":"={{ $json.body.data.message.documentMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20f4c0e9-3723-417c-b82b-508b49d63cfd","leftValue":"={{ $json.body.data.message.imageMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-20,260],"id":"6f6229e9-2f0d-4875-97f1-7a8d01f9f024","name":"Detector de Mídia","notesInFlow":true,"notes":"Áudio - Documento - Imagem"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').item.json.body.data.key.remoteJid.split(\"@\") [0] }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').item.json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $('Início').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-40],"id":"3d7c5d8a-4c63-44f0-bb6c-ef822578ad3e","name":"Filtro de Entrada"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').item.json.body.data.key.remoteJid.split(\"@\") [0]  }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').item.json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"=**SISTEMA:** Mensagem de Áudio com o possível conteúdo:\n\n{{ $json.text }}","type":"string"},{"id":"8c81054d-8f09-45da-9a99-0c5ddff89c32","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,160],"id":"3be5905e-c011-451b-97ff-8ab99f1e7f01","name":"Áudio -> Texto"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').item.json.body.data.key.remoteJid.split(\"@\") [0] }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').item.json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $('Início').item.json.body.data.message.imageMessage.caption }}\n\n**SISTEMA:** Anexo de Imagem analisado:\n\n{{ $json.output.descricao_arquivo || 'Não foi possível analisar.'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,960],"id":"f0e9431e-e3c2-47ba-a71c-eb54d8f0aa7e","name":"Imagem -> Texto"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2340,460],"id":"d06c2cb6-2556-4cc4-9315-79adabf0bdb4","name":"20 Segundos Digitando","credentials":{}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_6Am7ljxKsroSeItcRqmk3dUI","mode":"list","cachedResultName":"Assistente Pessoal"},"prompt":"define","text":"=- **Hora e Data atual:** {{ DateTime.fromISO($now).toFormat(\"HH:mm:ss | dd/MM/yyyy | cccc\", { locale: \"pt-BR\" }) }}\n- **Nome do Usuário:** {{ $('Juntar Fila').item.json.nome }}\n- **WhatsApp:** {{ $('Juntar Fila').item.json.whatsapp }}\n\n{{ $('Juntar Fila').item.json.mensagem }}","memory":"threadId","threadId":"={{ $json.thread_id }}","options":{"preserveOriginalTools":false}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,460],"id":"68fc51c9-3e2d-4d21-a0df-12969f95a87d","name":"Assistente","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $json.whatsapp }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,460],"id":"7890d752-0476-4a60-a42d-d289ee732c2c","name":"Entrada"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM threads\nWHERE ultima_interacao < NOW() - INTERVAL '20 days';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,280],"id":"eb870296-502c-46ce-bbf9-273ec9c62672","name":"Expirar Thread (20 Dias)"},{"parameters":{"assignments":{"assignments":[{"id":"0a3355ba-e110-4111-95cb-e8d8fa888a6d","name":"body.data.message.base64","value":"={{ $('Filtro de Usuário').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,960],"id":"36f29cfb-00e5-48c5-9490-e7adfa2fa71a","name":"Capturar Imagem"},{"parameters":{"assignments":{"assignments":[{"id":"0a3355ba-e110-4111-95cb-e8d8fa888a6d","name":"body.data.message.base64","value":"={{ $('Filtro de Usuário').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,360],"id":"7114796f-98b9-4c3d-a779-c86c82c8bcea","name":"Capturar PDF"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"=documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1020,360],"id":"2966d996-72a7-4451-af6c-c7aaecdc5f7d","name":"PDF"},{"parameters":{"operation":"pdf","binaryPropertyName":"documento","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1180,360],"id":"8f423520-39db-486d-a99d-0b86ed6dbf6b","name":"Transcrever PDF"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"audio","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,160],"id":"4116e88f-2a4d-455c-b7e4-6ecc7c3b208a","name":"Transcrever Áudio"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').item.json.body.data.key.remoteJid.split(\"@\") [0] }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').item.json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $('Início').item.json.body.data.message.documentMessage.caption }}\n\n**SISTEMA:** Anexo PDF analisado:\n\n{{ $json.text || 'Não foi possível analisar.'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,360],"id":"c7ad6360-cb6e-4e50-b52d-0f8f50c92e75","name":"PDF -> Texto"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM threads\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-280,600],"id":"073df706-9b6a-458d-a3f4-274796898b6e","name":"Deletar Threads"},{"parameters":{"assignments":{"assignments":[{"id":"0a3355ba-e110-4111-95cb-e8d8fa888a6d","name":"body.data.message.base64","value":"={{ $('Filtro de Usuário').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,560],"id":"e3488ae0-0da3-4ef6-9b74-7215c2eb1819","name":"Capturar DOCX"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"=documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1020,560],"id":"303af8c0-0cca-44d7-b4f7-ddd2994463c0","name":"DOCX"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').item.json.body.data.key.remoteJid.split(\"@\") [0] }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').item.json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $('Início').item.json.body.data.message.documentMessage.caption }}\n\n**SISTEMA:** Anexo DOCX analisado:\n\n{{ $json.text || 'Não foi possível analisar.'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,560],"id":"57f54096-12ef-4728-967d-9bdd623ce800","name":"DOCX -> Texto"},{"parameters":{"assignments":{"assignments":[{"id":"0a3355ba-e110-4111-95cb-e8d8fa888a6d","name":"body.data.message.base64","value":"={{ $('Filtro de Usuário').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,760],"id":"e4442af1-2123-4e96-ba34-61d0577e19a1","name":"Capturar XLSX"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","binaryPropertyName":"=documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[860,760],"id":"c28f74f1-c176-4cc7-9ceb-d4b6b840fbbe","name":"XLSX"},{"parameters":{"operation":"xlsx","binaryPropertyName":"documento","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1020,760],"id":"475f21f2-c31e-4cdb-8379-c4d765e29f2c","name":"Transcrever XLSX"},{"parameters":{"assignments":{"assignments":[{"id":"8474886a-8a48-4ea3-b6c6-5991c31ad43a","name":"whatsapp","value":"={{ $('Início').first().json.body.data.key.remoteJid.split(\"@\")[0] }}","type":"string"},{"id":"5d3e2384-0685-49f3-8f35-d32a2a483d92","name":"nome","value":"={{ $('Início').first().json.body.data.pushName }}","type":"string"},{"id":"a0e341a7-dabb-4b51-9b6b-7d910c29a484","name":"mensagem","value":"={{ $('Início').first().json.body.data.message.documentMessage.caption }}\n\n**SISTEMA:** Anexo XLSX analisado:\n\n{{ JSON.stringify($json.todos_os_dados, null, 2) || 'Não foi possível analisar.'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,760],"id":"a6f24caf-be5f-4b9c-b71f-07aa9c2ed553","name":"XLSX -> Texto"},{"parameters":{},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[1180,560],"id":"67c878c8-8004-4720-af01-dfe88a5f6871","name":"Transcrever DOCX"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM threads WHERE whatsapp = '{{ $('Juntar Fila').item.json.whatsapp }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4140,-20],"id":"e5e69b66-25c9-4965-aaa8-2ec0a56872fa","name":"Deletar Thread (Erro)"},{"parameters":{"assignments":{"assignments":[{"id":"883a9619-5a61-4da8-963e-a31ec7c861d8","name":"resposta","value":"={{ $('Assistente').item.json.output.replace(/\\*\\*/g, '*') }}","type":"string"},{"id":"59d1addd-e715-46cf-ab99-30706ea70f05","name":"threadId","value":"={{ $('Assistente').item.json.threadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4460,-20],"id":"77679cbe-48e2-4025-9ce7-fbb0fa59a33c","name":"Filtro de Saída (Erro)"},{"parameters":{"fieldToSplitOut":"resposta","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4620,-20],"id":"d66ac94a-c152-4572-b34f-2c431b967e9c","name":"Saída (Erro)"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4780,-20],"id":"5efc8f96-1d5f-4c1b-a085-14b92aa89f36","name":"Digitando... (Erro)","credentials":{}},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4940,-20],"id":"01a1989f-5961-433c-aff1-af38b292ad33","name":"Resposta (Erro)","credentials":{}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO threads (whatsapp, thread_id)\nVALUES ('{{ $('Juntar Fila').item.json.whatsapp }}', '{{ $('Assistente (Erro)').item.json.threadId }}');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4300,-20],"id":"b140eed8-7281-4835-934a-f67bad815c88","name":"Vinc. Thread (Erro)"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_6Am7ljxKsroSeItcRqmk3dUI","mode":"list","cachedResultName":"Assistente Pessoal"},"prompt":"define","text":"=- **Hora e Data atual:** {{ DateTime.fromISO($now).toFormat(\"HH:mm:ss | dd/MM/yyyy | cccc\", { locale: \"pt-BR\" }) }}\n- **Nome do Cliente:** {{ $('Juntar Fila').item.json.nome }}\n- **WhatsApp:** {{ $('Juntar Fila').item.json.whatsapp }}\n\n**SISTEMA:** Problema Técnico identificado. Informe o usuário do problema e diga que vai iniciar uma nova memória. Dito isso, pergunte o que ele precisava de uma forma criativa.\n\n**Última mensagem do usuário antes do erro:**\n\n{{ $('Juntar Fila').item.json.mensagem }}","memory":"threadId","threadId":"=","options":{"preserveOriginalTools":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3740,-20],"id":"8c54cd7f-e29d-4348-b158-889fa2b74b82","name":"Assistente (Erro)","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"id"},"text":"Descreva esta imagem com o máximo de detalhes possíveis","inputType":"base64","binaryPropertyName":"imagem","options":{"detail":"high","maxTokens":32768}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,960],"id":"ca339fc4-1c17-4340-9d84-30b2e80aef0c","name":"Descrever Imagem"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.documentMessage.title }}","rightValue":"pdf","operator":{"type":"string","operation":"endsWith"},"id":"f89dc4a8-d13f-487c-91c4-efbbf7946385"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49cb11d1-5d59-4e1b-8ef6-e54c5f1d0d66","leftValue":"={{ $json.body.data.message.documentMessage.title }}","rightValue":"docx","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"381e924b-1628-44bd-b759-d672c2ad8cbc","leftValue":"={{ $json.body.data.message.documentMessage.title }}","rightValue":"xlsx","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,460],"id":"2a7e8495-1aa5-44d1-8a37-4f13a293cb73","name":"Tipo de Doc"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      todos_os_dados: items.map(item => item.json)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,760],"id":"391efa95-6f94-4f48-8592-d8f521f4f2b5","name":"Formatar XLSX"},{"parameters":{"content":"# Fluxo de erro:\n\n- Avisa o usuário da falha\n- Cria novo thread\n- Vincula novo thread ao whatsapp do usuário","height":380,"width":1420,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3720,-200],"typeVersion":1,"id":"b9c445ca-56cf-47f4-b9af-07beefb177c0","name":"Sticky Note"},{"parameters":{"content":"# Empilha mensagens para enviar todas para o Assistente de IA\n\nAcredito que da pra fazer bem melhor pois ele conta 20 segundos apenas a partir da primeira mensagem e empilha o resto durante esse tempo. Deveria ser uns 15 segundos a partir de cada mensagem. As vezes até menos tempo...","height":320,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[1780,320],"typeVersion":1,"id":"b7aaf73d-1f11-4499-abed-f3870069de35","name":"Sticky Note1"},{"parameters":{"content":"Resgata o Thread vinculado ao número do usuário para manter o contexto da conversa (memória)","height":240,"width":480,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2960,400],"typeVersion":1,"id":"646de46b-7b71-4e34-ac9a-f6be58bc9054","name":"Sticky Note2"},{"parameters":{"content":"# Filtros de Mídia\n\nPara separar mensagens com anexo de PDF, DOCX, XLSX, Imagem (.jpg) ou Áudio de WhatsApp (.opus)","height":1220,"width":1820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-60,-80],"typeVersion":1,"id":"18224ba0-7d04-4f02-a5eb-5f1913ad3cca","name":"Sticky Note3"},{"parameters":{"content":"## Entrada e Filtro de Usuário\n\nIdentifica se a mensagem vem do próprio número e de um número específico.\n\n- Se sim, continua o fluxo.\n- Se não, para o fluxo.\n\n---\n\n*a parte do número específico pode ser removido conforme necessidade*","height":440,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-500,0],"typeVersion":1,"id":"c608b26f-8355-4102-9abb-7f1b6ed571bb","name":"Sticky Note4"},{"parameters":{"content":"## Saída\n\nEnvia a presença \"Digitando\" durante 2 segundos e depois envia a resposta do Assistente para o usuário via Evolution API","height":320,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4220,320],"typeVersion":1,"id":"f47921a9-0ec6-47fe-9737-a3a0134bf6bb","name":"Sticky Note5"},{"parameters":{"content":"## Memória\n\n- Se o Thread não existir no Banco, vincula novo Thread da OpenAI ao número do WhatsApp do usuário.\n\n- Se o Thread já existe no Banco, atualiza a hora da última interação no Banco.","height":540,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3460,200],"typeVersion":1,"id":"6b380313-1188-47df-a1d7-3d9844692851","name":"Sticky Note6"},{"parameters":{"content":"# Nodes da Comunidade Necessários\n\n- n8n-nodes-docx-converter\n- n8n-nodes-evolution-api\n\n*Os nodes acima não estão disponíveis de forma nativa no n8n e precisam ser instalados antes de executar o workflow*","height":220,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","position":[600,-320],"typeVersion":1,"id":"3be73696-f25b-4064-8588-482e35ae85fe","name":"Sticky Note7"},{"parameters":{"operation":"executeQuery","query":"-- Cria as tabelas necessárias para o funcionamento do bot\n-- Antes, não se esqueça de criar o banco de dados com o nome de sua preferência e configurar as credenciais\n\nCREATE TABLE mensagens_temp(\n    whatsapp text,\n    mensagem text,\n    \"data\" timestamp without time zone DEFAULT now(),\n    status text,\n    nome text\n);\n\nCREATE TABLE threads(\n    whatsapp text,\n    thread_id text,\n    ultima_interacao timestamp without time zone DEFAULT now()\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1060,640],"id":"638570e4-749b-4c4d-8574-d64c4db4c337","name":"Criar Tabelas"},{"parameters":{"content":"## Cria Tabelas Necessárias\n\nNão se esqueça de criar uma nova database antes de criar as tabelas. O node abaixo, ao executado, cria todas as tabelas necessárias para as operações de todo o Workflow. Execute apenas uma vez depois de ja ter criado a database.","height":340,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-1080,460],"typeVersion":1,"id":"0736468b-b95f-442e-bb96-237044a7df05","name":"Sticky Note8"},{"parameters":{"content":"## Limpa Tabelas\n\nQuando executados, limpa todas as tabelas de threads vinculados a números de WhatsApp e mensagens presas na fila. Usei com frequência durante os testes e pode ser bem útil.","height":300,"width":560},"type":"n8n-nodes-base.stickyNote","position":[-640,460],"typeVersion":1,"id":"4f2b34f2-e583-4253-906c-97758ac93eb9","name":"Sticky Note9"},{"parameters":{"content":"## Desvincula Threads\n\nGatilho diário que deleta do Banco Threads vinculados sem interação do usuário por mais de 20 dias. Útil para manter certa organização e fazer uma limpeza a fim de economizar tokens com conversas desnecessariamente longas.","height":340,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-920,100],"typeVersion":1,"id":"999f0371-cc54-49d5-94e0-fe046d5ad3a8","name":"Sticky Note10"},{"parameters":{"content":"# Credenciais Necessárias\n\n- **OpenAI API Key para os nodes da OpenAI**\n    - Necessário ter um assistente configurado no painel: https://platform.openai.com/assistants\n\n- **Postgres (Host, Usuário, Senha e Database)**\n    - Os Threads da OpenAI são vinculados aos números de WhatsApp dos usuários para manter a memória/contexto da conversa. Acredito que seja mais eficiente e barato do que usar o conector de memória do n8n.\n    - Também serve para enfileirar as mensagens enviadas pelo usuário dentro de um prazo de 20 segundos em que é enviado um sinal de \"Digitando\" para serem empilhadas e enviadas de uma só vez para a IA. Ajuda a evitar que ela envie uma mensagem para cada mensagem individual do usuário em um curto período.","height":360,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-60,-460],"typeVersion":1,"id":"6cb11428-61de-43f7-b030-4b180263cf07","name":"Sticky Note11"},{"parameters":{"content":"## Caso tenha alguma dúvida ou sugestão de melhoria, sinta-se livre para me chamar via LinkedIn: https://linkedin.com/in/ferreirajgb","height":220,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","position":[600,-560],"typeVersion":1,"id":"3ac6e24a-501c-4c78-a9fb-d19c1dcbcfc7","name":"Sticky Note12"},{"parameters":{"content":"## As operações feitas com Banco de Dados são apenas para empilhar mensagens antes de juntar e para vincular um Thread a um número de WhatsApp para permitir que o Assistente use o numero do usuáio como verificador para buscar o contexto/memória da conversa","height":260,"width":640,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1780,40],"typeVersion":1,"id":"0b0bd904-e341-4b06-a8d9-409c978a995b","name":"Sticky Note13"},{"parameters":{"content":"# Resumo Geral\n(escrito com IA - GPT o3)\n\n## 1. Entrada e primeiros filtros\n\n1. **Webhook `Início`** (`/testes/messages-upsert`) recebe TODAS as mensagens que o Evolution envia.\n2. **`Filtro de Usuário`** garante que:\n\n   * a mensagem não foi enviada por você mesmo (`fromMe = false`);\n   * opcionalmente vem de um número específico (`remoteJid.split('@')[0] == 55149900000000`).\n3. **`Detector de Mídia`** (switch) descobre o tipo de conteúdo e envia para o ramo correto:\n\n   * Texto simples → vai direto para **`Filtro de Entrada`**.\n   * Áudio → captura base64, converte em arquivo, transcreve com Whisper e gera mensagem “**SISTEMA:** Mensagem de Áudio …”.\n   * Imagem → converte em arquivo, pede para o GPT-4-Vision descrever, concatena legenda + descrição.\n   * Documentos (`pdf | docx | xlsx`) → converte, extrai texto/dados e coloca na mensagem “**SISTEMA:** Anexo <tipo> analisado…”.\n\nTodas essas ramificações terminam gerando **três campos limpinhos** (`whatsapp`, `nome`, `mensagem`) que o node **`Entrada`** deixa prontos para a próxima fase.\n\n---\n\n## 2. Fila de mensagens (anti-flood)\n\n1. **`Enfileirar Msgs`** grava cada entrada em `mensagens_temp` com status `aguardando`.\n2. **`Verificar Msgs → Contar Msgs`**\n\n   * Se for a **primeira** mensagem na fila, o fluxo dispara **`20 Segundos Digitando`**: envia “presence typing” por 20 s e então…\n   * …busca **todas** as mensagens acumuladas no intervalo (**`Recuperar Msgs → Juntar Fila`**), junta com `\\n\\n`, limpa a fila (`Limpar Fila`) e segue.\n\n> 💡 *Comentário da sticky note*: hoje o timer é fixo (20 s a partir da 1ª mensagem). Você pode trocá-lo por um `Wait` + `Reset Timer` a cada nova mensagem para ter “15 s desde a última”.\n\n---\n\n## 3. Memória: vínculo WhatsApp ↔ Thread OpenAI\n\n1. **`Verificar Thread`** consulta tabela `threads` para descobrir se já existe `thread_id` para aquele número.\n2. **`Assistente`** (node LangChain/OpenAI) envia:\n\n   * “cabecalho” com hora, usuário, etc.\n   * o **texto concatenado** das mensagens.\n   * `threadId` (se achou).\n3. **`Verificar Thread Usado`** compara o `threadId` que voltou do Assistente com o que estava no banco:\n\n   * **Já existia e bateu** → só faz **`Hora Interação`** (UPDATE `ultima_interacao = NOW()`).\n   * **Não existia** ou mudou → **`Vincular Thread`** grava o novo pair (INSERT).\n\n---\n\n## 4. Saída normal\n\n1. **`Filtro de Saída`** transforma a resposta do Assistente (troca `**bold**` por `*bold*` para o WhatsApp).\n2. **`Saída`** faz split caso a IA quebre a resposta em partes.\n3. **`Digitando...`** presence 2 s → **`Resposta`** manda o texto pelo Evolution.\n\n---\n\n## 5. Fluxo de erro controlado\n\nSe o node **`Assistente`** cair em exceção:\n\n* **`Assistente (Erro)`** gera uma nova thread explicando ao usuário que houve falha e pede para repetir a intenção.\n* Apaga o vínculo antigo (**`Deletar Thread (Erro)`**) e grava o novo (**`Vinc. Thread (Erro)`**) antes de enviar “Digitando… (Erro)” e “Resposta (Erro)”.\n\n---\n\n## 6. Manutenção e utilidades\n\n| Node                                            | O que faz                                                                    |\n| ----------------------------------------------- | ---------------------------------------------------------------------------- |\n| **`Gatilho Diário → Expirar Thread (20 Dias)`** | DELETE em `threads` que não recebem interação há 20 dias (economiza tokens). |\n| **`Ativação Manual`**                           | Pipeline que limpa `mensagens_temp` e `threads` inteiras — útil nos testes.  |\n| **`Criar Tabelas`**                             | Execução única: cria `mensagens_temp` e `threads`.                           |\n\n---\n\n## 7. Dependências externas\n\n* **Evolution API nodes** – envio/recepção WhatsApp.\n* **OpenAI (LangChain)** – Assistente, Whisper, Vision.\n* **n8n-nodes-docx-converter** – extrair texto de DOCX.\n* **PostgreSQL** – armazenamento de fila e memória.\n\n---\n\n### Resumo curtinho\n\n1. **Recebe mensagem** → 2. **Detecta tipo & converte p/ texto** → 3. **Empilha por 20 s** → 4. **Envia lote p/ Assistente com memória persistida em Postgres** → 5. **Atualiza ou cria thread** → 6. **Simula “digitando” e devolve resposta** → 7. **Limpeza diária + rotinas auxiliares** → 8. **Fluxo de fallback em caso de erro**.\n","height":2040,"width":1160,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2260,460],"typeVersion":1,"id":"887624ca-143f-4c55-99a2-249d9b4d9028","name":"Sticky Note14"},{"parameters":{"content":"# Usando Evolution API no n8n para WhatsApp\n(escrito com IA - GPT 4.1)\n\nEste rápido tutorial ajudará você a configurar o Evolution API no n8n e entender como funciona o formato dos IDs para grupos e usuários individuais no WhatsApp.\n\n## 🚀 1. Instalando Nodes do Evolution API no n8n\n\n- Abra seu painel do n8n.\n- Clique em **Settings → Community Nodes**.\n- Na caixa de busca, digite `n8n-nodes-evolution-api`.\n- Clique em **Install**. Aguarde a instalação ser concluída (pode levar alguns segundos).\n\nApós instalado, atualize a página. Você já deve ver nodes relacionados ao Evolution API ao criar um novo workflow.\n\n---\n\n## 🔑 2. Configurando Credenciais do Evolution API\n\n- No painel do Evolution API, verifique e anote:\n  - URL base (exemplo: `http://localhost:8080`)\n  - Sua Instance Key (Chave de instância/token)\n\nAgora:\n\n- No n8n, vá em **Credentials → Add Credential → Evolution API**.\n- Informe:\n  - **Base URL** (ex.: `http://localhost:8080`)\n  - **API Key** (instance key/token do Evolution).\n\nClique em **Save**.\n\n---\n\n## 📝 3. Testando o envio através do Evolution API no n8n\n\n- Em um novo workflow, adicione um node do tipo \"**Evolution API Send Message**\".\n- Nas configurações do node insira as suas credenciais criadas no passo anterior.\n- Preencha os campos obrigatórios:\n  - `Instance`: Nome da instância (a mesma configurada no Evolution API — normalmente a Instance Key).\n  - `Number`: ID do contato (veja formato abaixo).\n  - `Message`: Mensagem que será enviada.\n\n---\n\n## 📱 4. Formato dos números para envio individual e em grupo no WhatsApp (Evolution API)\n\nNo Evolution API os IDs/números do WhatsApp possuem diferentes formatos dependendo se é envio privado ou para grupos:\n\n🟢 **Mensagens privadas (contatos individuais)**:\n\n```markdown\nFormato:\n<número de telefone>@s.whatsapp.net\n\nExemplo:\n5511977771234@s.whatsapp.net\n```\n\nℹ️ **Formato detalhado**:\n- Código do país (**55** para Brasil) + DDD (sem o zero) + número\n- Final sempre: `@s.whatsapp.net`\n\n🟢 **Mensagens para grupos**:\n\n```markdown\nFormato:\n<id do grupo>@g.us\n\nExemplo:\n120363038634395676@g.us\n```\n\nEspero que seja útil! Aproveite para turbinar suas automações com WhatsApp + n8n. 🚀🔥","height":1900,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4220,660],"typeVersion":1,"id":"a26e57fd-a94a-489d-b80b-c261108ecbd2","name":"Sticky Note15","disabled":true}],"connections":{"Início":{"main":[[{"node":"Filtro de Usuário","type":"main","index":0}]]},"Verificar Thread":{"main":[[{"node":"Assistente","type":"main","index":0}]]},"Verificar Thread Usado":{"main":[[{"node":"Hora Interação","type":"main","index":0}],[{"node":"Vincular Thread","type":"main","index":0}]]},"Vincular Thread":{"main":[[{"node":"Filtro de Saída","type":"main","index":0}]]},"Filtro de Saída":{"main":[[{"node":"Saída","type":"main","index":0}]]},"Hora Interação":{"main":[[{"node":"Filtro de Saída","type":"main","index":0}]]},"Gatilho Diário":{"main":[[{"node":"Expirar Thread (20 Dias)","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Transcrever Áudio","type":"main","index":0}]]},"Deletar Filas":{"main":[[{"node":"Deletar Threads","type":"main","index":0}]]},"Juntar Fila":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Verificar Thread","type":"main","index":0}]]},"Enfileirar Msgs":{"main":[[{"node":"Verificar Msgs","type":"main","index":0}]]},"Verificar Msgs":{"main":[[{"node":"Contar Msgs","type":"main","index":0}]]},"Recuperar Msgs":{"main":[[{"node":"Juntar Fila","type":"main","index":0}]]},"Capturar Áudio":{"main":[[{"node":"Audio","type":"main","index":0}]]},"Filtro de Usuário":{"main":[[{"node":"Detector de Mídia","type":"main","index":0}]]},"Ativação Manual":{"main":[[{"node":"Deletar Filas","type":"main","index":0}]]},"Imagem":{"main":[[{"node":"Descrever Imagem","type":"main","index":0}]]},"Detector de Mídia":{"main":[[{"node":"Filtro de Entrada","type":"main","index":0}],[{"node":"Capturar Áudio","type":"main","index":0}],[{"node":"Tipo de Doc","type":"main","index":0}],[{"node":"Capturar Imagem","type":"main","index":0}]]},"Filtro de Entrada":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Áudio -> Texto":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Imagem -> Texto":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Assistente":{"main":[[{"node":"Verificar Thread Usado","type":"main","index":0}],[{"node":"Assistente (Erro)","type":"main","index":0}]]},"Entrada":{"main":[[{"node":"Enfileirar Msgs","type":"main","index":0}]]},"Capturar Imagem":{"main":[[{"node":"Imagem","type":"main","index":0}]]},"Capturar PDF":{"main":[[{"node":"PDF","type":"main","index":0}]]},"PDF":{"main":[[{"node":"Transcrever PDF","type":"main","index":0}]]},"Transcrever PDF":{"main":[[{"node":"PDF -> Texto","type":"main","index":0}]]},"Transcrever Áudio":{"main":[[{"node":"Áudio -> Texto","type":"main","index":0}]]},"PDF -> Texto":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Capturar DOCX":{"main":[[{"node":"DOCX","type":"main","index":0}]]},"DOCX -> Texto":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Capturar XLSX":{"main":[[{"node":"XLSX","type":"main","index":0}]]},"XLSX":{"main":[[{"node":"Transcrever XLSX","type":"main","index":0}]]},"Transcrever XLSX":{"main":[[{"node":"Formatar XLSX","type":"main","index":0}]]},"XLSX -> Texto":{"main":[[{"node":"Entrada","type":"main","index":0}]]},"Deletar Thread (Erro)":{"main":[[{"node":"Vinc. Thread (Erro)","type":"main","index":0}]]},"Filtro de Saída (Erro)":{"main":[[{"node":"Saída (Erro)","type":"main","index":0}]]},"Vinc. Thread (Erro)":{"main":[[{"node":"Filtro de Saída (Erro)","type":"main","index":0}]]},"Assistente (Erro)":{"main":[[{"node":"Deletar Thread (Erro)","type":"main","index":0}]]},"Descrever Imagem":{"main":[[{"node":"Imagem -> Texto","type":"main","index":0}]]},"Tipo de Doc":{"main":[[{"node":"Capturar PDF","type":"main","index":0}],[{"node":"Capturar DOCX","type":"main","index":0}],[{"node":"Capturar XLSX","type":"main","index":0}]]},"Formatar XLSX":{"main":[[{"node":"XLSX -> Texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6c5f8f96-5baa-413b-ab5b-8f1604a317c0","triggerCount":0,"tags":[]}}]},"versionId":"e7e360cb-a4d3-4604-beab-cc724373510b","triggerCount":1,"tags":[{"createdAt":"2025-06-09T17:52:18.171Z","updatedAt":"2025-06-09T17:52:53.166Z","id":"slEoR7oHCDZgZU9j","name":"⚠️ MAIN ⚠️"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}