workflows/crawl4ai scrapper.json
{"createdAt":"2025-06-10T00:34:45.544Z","updatedAt":"2025-06-10T00:55:09.410Z","id":"gQ8JF2iAxQt9eYgp","name":"crawl4ai scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"={{ $json.result.cleaned_html }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[-320,580],"id":"2f035b2a-c97a-4559-b7bb-fecd2798bf5c","name":"WebpageContentExtractor"},{"parameters":{"assignments":{"assignments":[{"id":"88e6e0a3-84be-4b84-8722-87f73694d8f4","name":"cleanHTML","value":"={{ $('WebpageContentExtractor').item.json.textContent }}","type":"string"},{"id":"5f3d83e1-459e-4857-b1b6-1802009b3676","name":"markdown","value":"={{ $('HTTP Request1').item.json.result.markdown_v2.raw_markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,580],"id":"20c6fdfc-42a3-4e59-a8dd-cb4ae0d5959f","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"link"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-440,-120],"id":"0f8ea424-3078-4dbd-86fa-3e392e69ec60","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cbc1f55-0cdb-4c24-a177-fb671aeae4d6","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,240],"id":"9a10334a-1acc-42f3-8624-a7b438d39149","name":"If"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-340,240],"id":"5ca86538-b01e-40f6-b8cd-450d35628eee","name":"Wait","webhookId":"9f93d260-c691-426b-82a5-57fce7cb4f75"},{"parameters":{"url":"={{ $('DATA').item.json.baseURL }}/task/{{ $('HTTP Request').item.json.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,240],"id":"5598e099-56c8-4bd5-88ad-559ab855e6db","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"qs94IZy4xWD8fUL2","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"={{ $json.baseURL }}/crawl","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer a176e0c64c"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": \"{{ $('When Executed by Another Workflow').item.json.link }}\",\n  \"extraction_config\": {\n    \"type\": \"basic\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-120],"id":"07492a3e-130f-4430-9597-a20fc2ac3946","name":"HTTP Request"},{"parameters":{"content":"### BUFFER FOR VERIFYING IF THE REQUEST RETURNED THE HTML AT EACH 5 SECONDS","height":420,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-440,120],"typeVersion":1,"id":"77a82558-45d0-4cf1-8a2f-5244efa1e0a6","name":"Sticky Note3"},{"parameters":{"content":"### POST REQUEST TO MY CRAWL4AI URL RUNNING LOCALLY","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","position":[40,-220],"typeVersion":1,"id":"bc3104e1-b748-4c22-a64e-c3767ecfe05a","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"a223c318-66b8-4a30-9981-a97f65cd69e9","name":"baseURL","value":"http://85.31.63.19:11235","type":"string"},{"id":"bd2b0c75-91f8-47be-a1d2-ef7c7c9ce918","name":"Authorization","value":"a176e0c64c","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-120],"id":"1e2eed0f-37ab-44a2-b1c8-177cdeeea972","name":"DATA"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,-360],"id":"9f36aba4-9fc2-4d6c-a3b3-ac961fe1c044","name":"When clicking ‘Execute workflow’"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"DATA","type":"main","index":0}]]},"If":{"main":[[{"node":"WebpageContentExtractor","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"DATA":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"WebpageContentExtractor":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"DATA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"link":"https://lucasgontijo.vercel.app/","query":"falar sobre"}}]},"versionId":"2b7282ac-37f2-4488-ae00-0333f6bd2561","triggerCount":0,"tags":[{"createdAt":"2025-06-09T17:52:18.171Z","updatedAt":"2025-06-09T17:52:53.166Z","id":"slEoR7oHCDZgZU9j","name":"⚠️ MAIN ⚠️"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}