workflows/CRIAR LEAD.json
{"createdAt":"2025-06-06T21:50:37.960Z","updatedAt":"2025-06-13T18:13:31.848Z","id":"VDcG298LNDjTrnKJ","name":"CRIAR LEAD","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"rd_token"},{"name":"deal_stage_id"},{"name":"NOME "},{"name":"NUMERO"},{"name":"IDENTIFIER"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-140,-40],"id":"f36fc500-676e-4394-817d-643b5169e268","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $json.rd_token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"{{ $json.deal_stage_id }}\",\n    \"name\": \"{{ $json['NOME '] }} | {{ $json.NUMERO }}\"\n  },\n\"deal_source\": {\n    \"_id\": \"684c63d296cbde0014d71586\"\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $json['NOME '] }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $json.NUMERO }}\",\n          \"type\": \"cellphone\"\n        }\n      ]\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-40],"id":"35ec684c-0aa1-4f72-8a42-de2ddc1af887","name":"CRIAR LEAD RD","notesInFlow":true,"notes":"POST REQUEST"},{"parameters":{"operation":"set","key":"={{ $('When Executed by Another Workflow').item.json.IDENTIFIER }}_DEAL_ID","value":"={{ $json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[380,-40],"id":"35dfb592-633a-4c7c-a069-b3935e91ed48","name":"SEND DEAL_ID TO REDIS","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"CRIAR LEAD RD","type":"main","index":0}]]},"CRIAR LEAD RD":{"main":[[{"node":"SEND DEAL_ID TO REDIS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"rd_token":"684b7731ebc1bd00183156c2","deal_stage_id":"684b774f746d0b0018362b42","NOME ":"Lucas Gontijo","NUMERO":"556285372793","IDENTIFIER":"VIVIAN_556285372793"}}]},"versionId":"3a9412e7-8cea-405e-b2ee-520d945625c8","triggerCount":0,"tags":[{"createdAt":"2025-06-06T22:15:01.455Z","updatedAt":"2025-06-06T22:15:01.455Z","id":"imoPstlql1VlmXm2","name":"VIVIAN"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}