workflows/CRIAR LEAD.json
{"createdAt":"2025-06-06T21:50:37.960Z","updatedAt":"2025-06-13T01:22:33.568Z","id":"VDcG298LNDjTrnKJ","name":"CRIAR LEAD","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"rd_token"},{"name":"deal_stage_id"},{"name":"NOME "},{"name":"NUMERO"},{"name":"IDENTIFIER"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-140,-40],"id":"f36fc500-676e-4394-817d-643b5169e268","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $json.rd_token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"{{ $json.deal_stage_id }}\",\n    \"name\": \"{{ $json['NOME '] }} | {{ $json.NUMERO }}\"\n  },\n  \"deal_source\": {\n    \"_id\": \"682e60243650a1001913a573\"\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $json['NOME '] }} abc\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $json.NUMERO }}\",\n          \"type\": \"cellphone\"\n        }\n      ]\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-40],"id":"35ec684c-0aa1-4f72-8a42-de2ddc1af887","name":"CRIAR LEAD RD","notesInFlow":true,"notes":"POST REQUEST"},{"parameters":{"operation":"set","key":"={{ $('When Executed by Another Workflow').item.json.IDENTIFIER }}_DEAL_ID","value":"={{ $json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[380,-40],"id":"35dfb592-633a-4c7c-a069-b3935e91ed48","name":"SEND DEAL_ID TO REDIS"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"CRIAR LEAD RD","type":"main","index":0}]]},"CRIAR LEAD RD":{"main":[[{"node":"SEND DEAL_ID TO REDIS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"rd_token":"682e5c071fb95d0020c1fdac","deal_stage_id":"682e5baf4578ae00164dd07e","NOME ":".","NUMERO":"556292623061","IDENTIFIER":"LIA_556292623061"}}]},"versionId":"5d8224c5-d30b-4fd3-99ab-abc96d47c9f2","triggerCount":0,"tags":[{"createdAt":"2025-06-06T22:15:01.455Z","updatedAt":"2025-06-06T22:15:01.455Z","id":"imoPstlql1VlmXm2","name":"VIVIAN"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}