workflows/insereRag.json
{"createdAt":"2025-06-30T15:34:09.043Z","updatedAt":"2025-06-30T15:38:58.340Z","id":"EfYXyjNrkbq2WbK3","name":"insereRag","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"=Nome do produto: {{ $json[\"Nome\"] }}\nPreço: {{ $json[\"Preço\"] }}\nImagens disponíveis: {{ $json[\"Imagens\"] }}\nEspecificações técnicas: {{ $json[\"Especificações\"] }}\nCategoria: {{ $json[\"Categoria\"] || \"Não especificada\" }}\nSubcategoria: {{ $json[\"Subcategoria\"] || \"Não especificada\" }}\nURL: {{ $json[\"URL\"] }}\nDescrição: {{ $json[\"Descrição\"] || \"Sem descrição fornecida.\" }}\n","options":{}},"id":"6278570b-89c7-4dca-a8f0-88d224825c1e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[0,220]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"db9b34c2-d050-4c56-9f72-ffcbb48367c1","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-280,200],"credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"chunkOverlap":100},"id":"a9e83aee-64e7-482a-9436-593e003d5975","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-40,400]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"9bc5b36c-0a13-4627-9b74-533cde639ff8","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,-20],"credentials":{"supabaseApi":{"id":"EPW0ukvJWzka2jRD","name":"Supabase account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-500,-20],"id":"e2cf1c22-ea3f-48dc-9692-40de369ead06","name":"When Executed by Another Workflow"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"ID":"29277","Nome":"Termo Rembrandt | 260 ML","Descrição":"","Preço":"11,12 ","Categoria":"","Subcategoria":"","URL":"https://www.signa.pt/brindes/brinde.asp?id=29277","Imagens":20,"Especificações":2,"Opções Personalização":0}}]},"versionId":"a2ff16d7-0005-4a11-9725-e56d257aec4f","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}