workflows/Instagram media creation.json
{"createdAt":"2025-06-09T18:51:57.361Z","updatedAt":"2025-06-10T01:49:23.250Z","id":"GRBO0XGoeKW62Lfm","name":"Instagram media creation","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ac4d2c7b-3062-4b00-b4cc-7d08744eb0eb","name":"Node","value":"17841474888031389","type":"string"},{"id":"23cf6930-cc2e-43d8-9956-509f6845b486","name":"Img url","value":"https://fastly.picsum.photos/id/764/200/300.jpg?hmac=pGh4RNDyYgC7P-HrHdQggupjmxnwCBY_K969-cE1lcQ","type":"string"},{"id":"8824a4c3-6213-4649-8400-842873e6162a","name":"caption","value":"test","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,-140],"id":"3d3e182f-061f-4b6e-aa98-9a637f8cc20d","name":"Edit Fields"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Edit Fields').item.json.Node }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $('Edit Fields').item.json['Img url'] }}"},{"name":"caption","value":"={{ $('Edit Fields').item.json.caption }}"},{"name":"creation_id","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1280,-140],"id":"296e0ae2-b60f-4861-93e1-9e4c33f29a2f","name":"publish media","credentials":{"facebookGraphApi":{"id":"HVlSYiZyfuMesb5t","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $json.Node }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json['Img url'] }}"},{"name":"caption","value":"={{ $json.caption }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1100,-140],"id":"56054630-2e6b-4741-82ca-3334c6281621","name":"create container","credentials":{"facebookGraphApi":{"id":"HVlSYiZyfuMesb5t","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-460,-240],"id":"5b9d4b0f-0ef4-4678-9bb8-7c605723b20c","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-460,-40],"id":"c644473c-b0bd-4059-877a-ffa879cf7cc7","name":"Schedule Trigger1"},{"parameters":{"promptType":"define","text":"oi\n\nuse a tool serpAPI\n","options":{"systemMessage":"busque 10 links de postagens relevantes relacionadas à IA, chatbots, automações e retorne os 10\n\nuse a tool serpApi"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,-140],"id":"73184f32-3e19-48ac-889a-ac3039739abe","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,60],"id":"6321892d-1059-4b3f-806b-5020d8f2faa2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"3s47YUdlE4NVNVHy","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"description":"Call this tool to scrape the content of a webpage","workflowId":{"__rl":true,"value":"gQ8JF2iAxQt9eYgp","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["link"],"schema":[{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[980,100],"id":"1b36be6f-c57b-47c3-ada2-5a72215b9d19","name":"scrapper"},{"parameters":{"options":{"gl":"us","device":"desktop","no_cache":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Explicit_Array', ``, 'boolean') }}","google_domain":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Google_Domain', ``, 'string') }}","hl":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[780,100],"id":"141c0e51-29f4-4a9d-a66f-a15b3ccde82f","name":"SerpAPI","credentials":{"serpApi":{"id":"WsdRcFVwf4plDqQW","name":"Veridian SerpAPI account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"create container":{"main":[[{"node":"publish media","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"create container","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"scrapper":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0454f1f1-3631-45b5-89d6-4ea554e4e035","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}