workflows/Instagram media creation.json
{"createdAt":"2025-06-09T18:51:57.361Z","updatedAt":"2025-06-10T22:21:30.843Z","id":"GRBO0XGoeKW62Lfm","name":"Instagram media creation","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ac4d2c7b-3062-4b00-b4cc-7d08744eb0eb","name":"Node","value":"17841474888031389","type":"string"},{"id":"8824a4c3-6213-4649-8400-842873e6162a","name":"caption","value":"test","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-260],"id":"3d3e182f-061f-4b6e-aa98-9a637f8cc20d","name":"Edit Fields"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Edit Fields').item.json.Node }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $('HTTP Request1').item.json.data.link }}"},{"name":"caption","value":"={{ $('AI Agent').item.json.output.post_text }}"},{"name":"creation_id","value":"={{ $json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1820,-260],"id":"296e0ae2-b60f-4861-93e1-9e4c33f29a2f","name":"publish media","credentials":{"facebookGraphApi":{"id":"HVlSYiZyfuMesb5t","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Edit Fields').item.json.Node }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.data.link }}"},{"name":"caption","value":"={{ $('AI Agent').item.json.output.post_text }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1640,-260],"id":"56054630-2e6b-4741-82ca-3334c6281621","name":"create container","credentials":{"facebookGraphApi":{"id":"HVlSYiZyfuMesb5t","name":"Facebook Graph account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-260],"id":"5b9d4b0f-0ef4-4678-9bb8-7c605723b20c","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-80],"id":"c644473c-b0bd-4059-877a-ffa879cf7cc7","name":"Schedule Trigger1"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,460],"id":"3fb19cd9-d97b-431f-a363-9d132aec891d","name":"When Executed by Another Workflow","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,-440],"id":"80a5c3b8-1ee1-495d-a1cc-fcd1acbc5936","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-preview-image-generation:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAqnOhJdCt3VtGwZHCe1saJEBa7wE1Tqfc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.image_prompt }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,-260],"id":"17fad03e-6a68-431c-9378-7c2ac77025ed","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[1].inlineData.data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1160,-260],"id":"07ba331d-5b03-4dbb-a894-360498ad63f6","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://api.imgur.com/3/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID 5ad6ef876399a5c"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"type","value":"image"},{"name":"title","value":"Simple upload"},{"name":"description","value":"This is a simple image upload in Imgur"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-260],"id":"7fc15805-0a37-489e-ba8b-bccc0ad0682f","name":"HTTP Request1"},{"parameters":{"promptType":"define","text":"={\n  \"description\": \"Agente de criação de conteúdo para Instagram da Veridian, empresa especializada em automações de WhatsApp.\",\n  \"objectives\": [\n    \"Gerar ideias de posts informativos e engajadores para o Instagram da Veridian.\",\n    \"Focar em temas atuais e relevantes sobre chatbots, inteligência artificial e automações no WhatsApp.\",\n    \"Incluir dicas, tendências, estatísticas ou cases de uso que possam atrair o público-alvo (empreendedores, pequenos negócios, agências de marketing, consultores digitais).\",\n    \"Adaptar o tom da linguagem para ser profissional, porém acessível e envolvente.\",\n    \"Criar conteúdo que demonstre autoridade técnica sem ser excessivamente complexo.\",\n    \"Retornar também um prompt para gerar uma imagem visual coerente com o conteúdo do post.\"\n  ],\n  \"needed_output_format\": {\n    \"post_text\": \"Texto do post em até 1000 caracteres, com linguagem envolvente e informativa. Deve conter emojis estratégicos e hashtags relevantes. Incluir sempre uma chamada para ação clara e atrativa.\",\n    \"image_prompt\": \"Descrição visual detalhada e específica para geração de imagem relacionada ao conteúdo do post. DEVE ser completamente livre de textos, letras, números ou qualquer elemento textual. Foco em elementos visuais puros: formas, cores, objetos, cenários, personagens e composições.\"\n  },\n  \"content_themes\": [\n    \"Estatísticas sobre automação de atendimento\",\n    \"Benefícios dos chatbots para pequenos negócios\",\n    \"Tendências em inteligência artificial aplicada\",\n    \"Cases de sucesso em automação\",\n    \"Dicas de otimização de atendimento\",\n    \"Comparativos: atendimento manual vs automatizado\",\n    \"Futuro da comunicação empresarial\",\n    \"ROI e resultados de automações\"\n  ],\n  \"constraints\": [\n    \"Evitar jargões técnicos excessivos - sempre explicar termos complexos de forma simples.\",\n    \"Garantir que o conteúdo seja relevante para empresas e profissionais que buscam automatizar o atendimento via WhatsApp.\",\n    \"Evitar repetições em posts consecutivos - variar abordagens e ângulos.\",\n    \"Todos os posts devem conter uma chamada para ação específica e persuasiva.\",\n    \"O image_prompt NUNCA deve incluir textos, palavras, números, letras ou elementos tipográficos.\",\n    \"Manter consistência visual nas descrições de imagem para criar identidade visual coerente.\",\n    \"Posts devem ser informativos sem serem promocionais demais.\"\n  ],\n  \"visual_guidelines\": {\n    \"color_palette\": \"Tons de verde, azul e roxo para transmitir tecnologia e confiança\",\n    \"style\": \"Ilustrações modernas, isométricas ou flat design com elementos tech\",\n    \"elements_to_avoid\": \"Textos, letras, números, palavras, frases, títulos, legendas, rótulos\",\n    \"preferred_elements\": \"Ícones abstratos, smartphones, robôs estilizados, gráficos visuais sem números, interfaces sem texto, pessoas interagindo com tecnologia\"\n  },\n  \"needed_output_format\": {\n    \"post_text\": \"Texto do post em até 1000 caracteres, com linguagem envolvente e informativa. Deve conter emojis estratégicos e hashtags relevantes. Incluir sempre uma chamada para ação clara e atrativa.\",\n    \"image_prompt\": \"Descrição visual detalhada e específica para geração de imagem relacionada ao conteúdo do post. DEVE ser completamente livre de textos, letras, números ou qualquer elemento textual. Foco em elementos visuais puros: formas, cores, objetos, cenários, personagens e composições.\"\n  }\n}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[80,-260],"id":"8ad6499b-268c-43fc-980d-9035bd1bdd7b","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-20,-40],"id":"cce7d938-2255-423c-a863-f834ca6b7d26","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"3s47YUdlE4NVNVHy","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-260],"id":"8d9d68fa-6bd6-4f53-900f-f01eb7f641da","name":"Edit Fields1"},{"parameters":{"options":{"prompt":"{\n  \"caption\": \"Texto do post em até 1000 caracteres, com linguagem envolvente e informativa. Deve conter emojis estratégicos e hashtags relevantes. Incluir sempre uma chamada para ação clara e atrativa.\",\n  \"image_prompt\": \"Descrição visual detalhada e específica para geração de imagem relacionada ao conteúdo do post. DEVE ser completamente livre de textos, letras, números ou qualquer elemento textual. Foco em elementos visuais puros: formas, cores, objetos, cenários, personagens e composições.\"\n}\n\non {error} do nothing"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[360,80],"id":"27df1eec-9f94-49ee-a261-72c1188fb7d3","name":"Auto-fixing Output Parser"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[340,300],"id":"bfb612df-fdb4-4538-b2d6-605b3879ac2a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"3s47YUdlE4NVNVHy","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"image_prompt\": \"\",\n\t\"caption\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[500,300],"id":"7fe0b26f-a9ef-4d6d-89e8-8e40bc183934","name":"Structured Output Parser"}],"connections":{"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"create container":{"main":[[{"node":"publish media","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"create container","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35777d52-0823-4916-9fbd-9a7dc5b1311f","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}