workflows/job finder.json
{"createdAt":"2025-06-29T13:29:52.317Z","updatedAt":"2025-06-29T13:30:52.605Z","id":"LqyjMsHUWgDMEbsN","name":"job finder","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/hKByXkMQaC5Qt9UMN/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_DNmFG22AogqleZPfv7M0aonm58cefl0PlvtM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search-results/?f_TPR=r604800&geoId=103644278&keywords=sdr&origin=BLENDED_SEARCH_RESULT_NAVIGATION_SEE_ALL\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,200],"id":"8500f7d1-618e-4819-8a88-7ae19fbcfd5a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01911d0a-6ca9-4adb-9a6d-4d89f7d333af","leftValue":"={{ $json.companyEmployeesCount }}","rightValue":200,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1240,200],"id":"2d4c2ef7-cc89-4472-841f-8093edb69696","name":"Filter"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"companyLinkedinUrl","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1020,200],"id":"ea1156d5-5e52-494f-9f41-dd33f84d4951","name":"Remove Duplicates"},{"parameters":{"assignments":{"assignments":[{"id":"f75c0843-d5a8-4043-be4f-4f5fcb09b456","name":"companyName","value":"={{ $json.companyName.replace(/,?\\s*(LLC|Ltd|LTD|Ltd\\.?|Inc|Limited|Inc\\.?|Incorporated|Corp\\.?|Corporation|Company|Group|Holdings|International|Solutions|Technologies|Enterprises|Partners|Association|PLC|S\\.A\\.|GmbH|Co\\.|Services)\\.?$/i, '').trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,200],"id":"2f2314d5-c472-4007-85e9-c742ff429cd8","name":"Clean up company"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42080606-1599-479b-9242-8d2b2625868d","leftValue":"={{ $('Remove Duplicates').item.json.jobPosterName }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,200],"id":"8a0eb672-b34f-4a4f-a997-4d48d2686f3d","name":"If"},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"71ee7910b8d764d96069c49fa2bb2054"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $('Remove Duplicates').item.json.jobPosterName.split(\" \")[0] }}"},{"name":"last_name","value":"={{ $('Remove Duplicates').item.json.jobPosterName.split(\" \")[1] }}"},{"name":"company","value":"={{ $('Remove Duplicates').item.json.companyWebsite }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"3d451ee8-1d20-443e-af92-32d9f6c67046","name":"HTTP Request1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5ea2caa-4e59-4d50-9a0a-a5cfce8f4e5e","leftValue":"={{ $json.response.email_status }}","rightValue":"=VALID","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,0],"id":"4c97e3ab-e282-4ed2-ae75-32936d27f139","name":"Filter1"},{"parameters":{"url":"={{ $('Remove Duplicates').item.json.companyWebsite }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,0],"id":"911d1d8e-9011-48a6-88f4-bac37ed2d643","name":"HTTP Request2"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[960,0],"id":"1c722caf-b0ce-48e2-a6fa-425c47b802bb","name":"Markdown"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,0],"id":"297d9f5b-96da-4adf-b6aa-61c6c5c173cf","name":"Loop Over Items"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You're crafting very short, natural-sounding compliments or congratulations for cold outreach emails based on the company's website content.\n\nInstructions:\nFirst priority: Look carefully for specific recent events, awards, achievements, milestones, events, notable numbers, or news mentioned on their website.\n\nIf nothing specific is found, give a simple, believable compliment based on something that seems authentic or genuinely noteworthy about the company's approach.\n\nRules:\n- Keep it under 15 words\n- Sound natural and conversational \n- Be specific and authentic\n- Avoid being too formal or overly enthusiastic","role":"system"},{"content":"=Data: {{ $json.data }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,0],"id":"98778393-a754-4d02-8016-6e62c74b3c1d","name":"OpenAI","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU","mode":"list","cachedResultName":"Linkedin Job Scraping Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $('Loop Over Items').item.json.response.first_name }}","Last Name":"={{ $('Loop Over Items').item.json.response.last_name }}","Title":"={{ $('Remove Duplicates').item.json.jobPosterTitle }}","Email":"={{ $('Filter1').item.json.response.email }}","Company Name":"={{ $('Clean up company').item.json.companyName }}","Domain":"={{ $('HTTP Request1').item.json.response.domain }}","First Liner":"={{ $json.message.content }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain","displayName":"Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Liner","displayName":"First Liner","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1540,0],"id":"a6371270-9293-48b2-b184-a625d5bfdf86","name":"Google Sheets"},{"parameters":{"method":"POST","url":"https://server.smartlead.ai/api/v1/campaigns/1769229/leads","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"lead_list\": [\n    {\n      \"first_name\": $('Google Sheets3').item.json['first name'],\n      \"last_name\": $('Google Sheets3').item.json['last name'],\n      \"email\": $('Google Sheets3').item.json.Emails,\n      \"company_name\": $('Google Sheets3').item.json['company name'],\n      \"website\": $json.Website,\n      \"location\": $('Google Sheets3').item.json.country,\n      \"custom_fields\": {\n        \"video\": $json['Video Html'],\n        \"icebreaker\": $('Icebreakers').item.json.output\n      },\n      \"linkedin_profile\": $json['linkedin url'],\n      \"company_url\": $json.company_linkedin\n    }\n  ],\n  \"settings\": {\n    \"ignore_global_block_list\": true,\n    \"ignore_unsubscribe_list\": true,\n    \"ignore_duplicate_leads_in_other_campaign\": false\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,0],"id":"ebe63466-75cd-4619-b6d9-3a6c193b35c3","name":"Smartlead_Add_Lead1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2500,0],"id":"8c85265d-e8d5-4605-8c1c-fac9089e9fbc","name":"Wait7","webhookId":"840320d3-0bf6-4233-8816-918dbfd11af7"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaign","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"dwAWTd05budmOYB0eAL4bgaERFMvthdEaRqyIAao="},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"campaignId\": 115122,\n    \"accountLeadPairs\": [\n        {\n            \"linkedInAccountId\": 71043,\n            \"lead\": {\n                \"firstName\": \"{{ $json['first name'] }}\",\n                \"lastName\": \"{{ $json['last name'] }}\",\n                \"location\": \"{{ $json.country }}\",\n                \"summary\": \"{{ $json.title }} @ {{ $json['company name'] }}\",\n                \"companyName\": \"{{ $json['company name'] }}\",\n                \"position\": \"{{ $json.title }}\",\n                \"about\": \"{{ $json['company description'] }}\",\n                \"emailAddress\": \"{{ $json.Emails }}\",\n                \"profileUrl\": \"https://{{ $json['linkedin url'] }}\"\n            }\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2260,0],"id":"39a390b8-8f8c-4c20-84c2-80c5e75bf9f0","name":"Linkedin Campaign1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1800,0],"id":"b1917f54-757c-43d2-bb57-2d7e48238b61","name":"Loop Over Items5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-120,300],"id":"21cad161-c1e4-4fec-904e-c867511e5043","name":"Loop Over Items1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[260,480],"id":"cb609c8c-23e9-482d-b3e6-22ff820c7364","name":"Wait","webhookId":"2f104ac3-656b-401a-8289-4ecb5ffb58ac"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"980b69df-29aa-4d60-83aa-d62c9ce4a272","leftValue":"={{ $('Wait').item.json.result.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a707bcb-12b6-48dd-85b3-ce656958a387","leftValue":"={{ $('Wait').item.json.error.status }}","rightValue":404,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[360,300],"id":"5051e2dd-c041-46d6-b0bb-cc7fee37d5b0","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,380],"id":"c67349eb-046f-4af3-88be-054114a09540","name":"Loop Over Items2"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,680],"id":"117ac762-23cc-47f7-8514-2ab66de64037","name":"Wait1","webhookId":"2f104ac3-656b-401a-8289-4ecb5ffb58ac"},{"parameters":{"url":"=https://emailverifier.reoon.com/api/v1/verify?email={{ $json.result.email }}&key=g6xLcBxlp0D1ikToWrvqzrrJtraaQbbB&mode=quick","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,540],"id":"e830cb8b-02bb-4fd6-8aa8-f7443d56347a","name":"Email Verification"},{"parameters":{"method":"POST","url":"https://api.anymailfinder.com/v5.0/search/decision-maker.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer n7OcDqcWTf4w1XEZLmQwM0zA"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"domain","value":"={{ $('HTTP Request').item.json.companyWebsite }}"},{"name":"decision_maker_category","value":"hr"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,380],"id":"0417c5e5-ad41-47d3-be3b-65940db56476","name":"Decision Maker Finder","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc1609ee-893d-45b1-8eb3-ca462f65bbb6","leftValue":"={{ $json.status }}","rightValue":"valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[920,360],"id":"483fae05-eae7-4238-8f38-db7c56209beb","name":"Filter2"},{"parameters":{"url":"={{ $('Remove Duplicates').item.json.companyWebsite }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,360],"id":"d02443cf-f334-48f0-bdd0-fe925387607d","name":"Company Web Data1"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1560,360],"id":"36874ed9-ba80-4036-8f08-f4f52391517f","name":"Markdown1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1180,360],"id":"b5f54da4-2aa8-4ed5-9e61-a7a95cb7cfb2","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU","mode":"list","cachedResultName":"Linkedin Job Scraping Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TEC-BGAGVYamSN248wCNwKRZd-Rb-64ZfQwO2GKFNoU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $('Loop Over Items3').item.json.response.first_name }}","Last Name":"={{ $('Loop Over Items3').item.json.response.last_name }}","Title":"=","First Liner":"={{ $json.message.content }}","Domain":"={{ $('Loop Over Items3').item.json.response.domain }}","Email":"={{ $('Filter1').item.json.response.email }}","Company Name":"={{ $('Clean up company').item.json.companyName }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain","displayName":"Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Liner","displayName":"First Liner","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2080,360],"id":"d23bf0e3-85f7-485f-8fea-846ac9210da3","name":"Google Sheets1"},{"parameters":{"method":"POST","url":"https://server.smartlead.ai/api/v1/campaigns/1769229/leads","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"lead_list\": [\n    {\n      \"first_name\": $('Google Sheets2').item.json['first name'],\n      \"last_name\": $('Google Sheets2').item.json['last name'],\n      \"email\": $('Google Sheets2').item.json.Emails,\n      \"company_name\": $('Google Sheets2').item.json['company name'],\n      \"website\": $json.Website,\n      \"location\": $('Google Sheets2').item.json.country,\n      \"custom_fields\": {\n        \"video\": $json['Video Html'],\n        \"icebreaker\": $('Icebreakers').item.json.output\n      },\n      \"linkedin_profile\": $json['linkedin url'],\n      \"company_url\": $json.company_linkedin\n    }\n  ],\n  \"settings\": {\n    \"ignore_global_block_list\": true,\n    \"ignore_unsubscribe_list\": true,\n    \"ignore_duplicate_leads_in_other_campaign\": false\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,360],"id":"a64c977c-73b8-45d1-891e-f4e594248ad9","name":"Smartlead_Add_Lead"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3100,360],"id":"ba40bce8-e74a-4c42-8a3f-5f52711f8211","name":"Wait6","webhookId":"840320d3-0bf6-4233-8816-918dbfd11af7"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_MtCy0V_JZiZNCnXjlBjQrCNcZWUyVLUVjqi8GcWdps","mode":"list","cachedResultName":"scrape google for linkedin url","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_MtCy0V_JZiZNCnXjlBjQrCNcZWUyVLUVjqi8GcWdps/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_MtCy0V_JZiZNCnXjlBjQrCNcZWUyVLUVjqi8GcWdps/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"linkedin url":"={{ $('Enrich Prospects').item.json.linkedin }}","Lead added to email outreach tool":"={{ ($json.status == \"1\" || $json.ok == true) ? \"YES\" : \"NO\" }}"},"matchingColumns":["linkedin url"],"schema":[{"id":"linkedin url","displayName":"linkedin url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_linkedin","displayName":"company_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nb of empolyees","displayName":"nb of empolyees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first name","displayName":"first name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last name","displayName":"last name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company name","displayName":"company name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qualify grade","displayName":"qualify grade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"qualification potential","displayName":"qualification potential","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company description","displayName":"company description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company size on linkedin","displayName":"company size on linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"specialities","displayName":"specialities","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updates","displayName":"updates","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follower count","displayName":"follower count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead added to email outreach tool","displayName":"Lead added to email outreach tool","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2920,360],"id":"80ddf7b4-d532-4d38-b681-5e1a754d2f0f","name":"Google Sheets2"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaign","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"dwAWTd05budmOYB0eAL4bgaERFMvthdEaRqyIAao="},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"campaignId\": 115122,\n    \"accountLeadPairs\": [\n        {\n            \"linkedInAccountId\": 71043,\n            \"lead\": {\n                \"firstName\": \"{{ $json['first name'] }}\",\n                \"lastName\": \"{{ $json['last name'] }}\",\n                \"location\": \"{{ $json.country }}\",\n                \"summary\": \"{{ $json.title }} @ {{ $json['company name'] }}\",\n                \"companyName\": \"{{ $json['company name'] }}\",\n                \"position\": \"{{ $json.title }}\",\n                \"about\": \"{{ $json['company description'] }}\",\n                \"emailAddress\": \"{{ $json.Emails }}\",\n                \"profileUrl\": \"https://{{ $json['linkedin url'] }}\"\n            }\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2740,360],"id":"6343de0f-dccb-4c0e-aeb7-066265cd5a6b","name":"Linkedin Campaign"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2300,420],"id":"bfcbcd1b-64d6-46ee-8c88-e38b786d5cc5","name":"Loop Over Items4"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You're crafting very short, natural-sounding compliments or congratulations for cold outreach emails based on the company's website content.\n\nInstructions:\nFirst priority: Look carefully for specific recent events, awards, achievements, milestones, events, notable numbers, or news mentioned on their website.\n\nIf nothing specific is found, give a simple, believable compliment based on something that seems authentic or genuinely noteworthy about the company's approach.\n\nRules:\n- Keep it under 15 words\n- Sound natural and conversational \n- Be specific and authentic\n- Avoid being too formal or overly enthusiastic","role":"system"},{"content":"=Data: {{ $json.data }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1720,360],"id":"436cf7c8-8b42-4a92-b437-e3e3c274dbe3","name":"Icebreaker"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1680,200],"id":"8ec234fa-f69d-4cee-909a-cc90bb78918b","name":"When clicking ‘Test workflow’"}],"connections":{"HTTP Request":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Clean up company","type":"main","index":0}]]},"Clean up company":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request2","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Smartlead_Add_Lead1":{"main":[[{"node":"Linkedin Campaign1","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Linkedin Campaign1":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Smartlead_Add_Lead1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Decision Maker Finder","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Filter2","type":"main","index":0}],[{"node":"Email Verification","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Email Verification":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Decision Maker Finder":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Company Web Data1":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Icebreaker","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Company Web Data1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Smartlead_Add_Lead":{"main":[[{"node":"Linkedin Campaign","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Linkedin Campaign":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Smartlead_Add_Lead","type":"main","index":0}]]},"Icebreaker":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"deff6442-07a0-4ad5-9d98-51c01ab66e3c","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}