workflows/MAIN.json
{"createdAt":"2025-06-06T21:49:23.107Z","updatedAt":"2025-06-06T22:15:38.783Z","id":"oebVD5Z7RPKcB2u7","name":"MAIN","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4980,500],"id":"e46a1da1-e6db-4286-a2d3-8996439be65b","name":"Loop Over Items"},{"parameters":{"amount":1},"id":"eb8dbce6-5a73-4400-9059-f3fe2bf4cd5e","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5300,520],"webhookId":"f17e5b03-5cb5-4b20-9cf0-66b3d4fc5788"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4460,500],"id":"75d4592a-1509-41df-b71c-818a0dc912b2","name":"Edit Fields2"},{"parameters":{"fieldToSplitOut":"mensagens","options":{}},"id":"9f65db4d-a7af-4eba-befe-78175dab7f02","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4680,500]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('crm').item.json.identifier }}_MEMORY","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[3220,800],"id":"26a56bd2-ed83-41eb-89f3-98e4592b30c8","name":"Redis Chat Memory2","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2f56ff24-5f31-403b-876a-77aa7aaee05b","name":"main.lead.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"f654d089-6dfc-42fa-869e-caee66c917d2","name":"main.interno.fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"70d13441-e98f-4922-8ac0-5748ae769254","name":"main.lead.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"859c45b4-f866-4adb-868e-aa489c4a6b79","name":"main.lead.content","value":"={{ $json.body?.data?.message?.extendedTextMessage?.text || '' }}{{ $json.body?.data?.message?.imageMessage?.caption || '' }}{{ $json.body?.data?.message?.conversation || '' }}{{ $json.body?.data?.message?.reactionMessage?.text || '' }}{{ $json?.body?.data?.message?.templateMessage?.hydratedTemplate?.hydratedContentText || ''}}{{ $json?.body?.data?.message?.speechToText || '' }}","type":"string"},{"id":"85b9bce5-f132-489a-8300-902307f4d8d1","name":"main.interno.messageType","value":"={{ $json.body?.data?.message?.extendedTextMessage ? 'text' : '' }}{{ $json.body?.data?.messageType === 'conversation' ? 'text' : '' }}{{ $json.body?.data?.message?.audioMessage ? 'audio' : '' }}{{ $json.body?.data?.message?.imageMessage ? 'image' : '' }}{{ $json.body?.data?.messageType === 'reactionMessage' ? 'text' : '' }}{{ $json.body?.data?.messageType === 'templateMessage' ? 'text' : ''}}{{ $json.body.data.messageType === 'stickerMessage' ? 'image' : '' }}","type":"string"},{"id":"75a99105-aa64-4046-86d9-5ba1f1ed9983","name":"main.interno.serverUrl","value":"={{ $json.body.server_url }}","type":"string"},{"id":"fc4e8522-765f-4c1c-ab6b-a080918d80c2","name":"main.interno.apiKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8ba90841-6a52-492c-8c78-837fdd0ef763","name":"main.interno.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"bb2f01d3-bebe-4eca-92b3-3bb18d45b4cd","name":"main.interno.mediaUrl","value":"={{ $json.body.data.message.mediaUrl }}","type":"string"},{"id":"ff6c9a08-53ed-4b84-a6e0-9e7e1c8a965c","name":"main.interno.messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"211712fc-09bf-46c6-8d69-eba8584db143","name":"main.interno.timestamp","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,560],"id":"830a46b3-21f2-4892-946d-2051e634b13e","name":"normalizacao"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('normalizacao').item.json.main.interno.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"69f0d7f5-b8aa-4566-92aa-38ce4c6c3029"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b7fce0a-dad9-417c-90b9-c453f9118120","leftValue":"={{ $('normalizacao').item.json.main.interno.messageType }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[580,580],"id":"d1916bc9-3ad4-41df-9d39-b22b72aa19bc","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a4bed19c-e2a8-46d1-ba71-3a080efc7407","name":"content","value":"={{ $('normalizacao').item.json.main.lead.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,380],"id":"ec978cd8-c7a8-4143-a149-25301a3a9e89","name":"concat_text"},{"parameters":{"operation":"push","list":"={{ $('crm').item.json.identifier }}_MESSAGE","messageData":"={{ JSON.stringify($json) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1920,520],"id":"2bcd4773-3aaf-4f80-a768-4b700d33ebd1","name":"armazena_messagem"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('crm').item.json.identifier }}_MESSAGE","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2140,520],"id":"218cc2c3-bde6-487b-b953-639d6d892e65","name":"obter_mensages_buffer"},{"parameters":{"assignments":{"assignments":[{"id":"1f647add-4dbc-475c-ba4c-f416374a743a","name":"chatInput","value":"={{ $json.messages.map(value => JSON.parse(value).main.finaltext).join(\"\\n\") }}","type":"string"},{"id":"4a7c7106-dff5-46c1-994a-9ea7c4dc71d7","name":"main.interno.messageId","value":"={{ $('normalizacao').item.json.main.interno.messageId }}","type":"string"},{"id":"5f25b98e-ce4d-4a4c-8d89-73f961289bfd","name":"main.interno.pushName","value":"={{ $('normalizacao').item.json.main.lead.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2820,520],"id":"ba1a0eae-fcf9-4f61-9ba4-2a20916dabff","name":"concatena_messages"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages.first().parseJson().main.data.interno.messageId }}","rightValue":"={{ $('normalizacao').item.json.main.interno.messageId }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NADA A FAZER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9eeffab-b065-4d08-a9aa-7584350ac532","leftValue":"={{ $json.messages.last().parseJson().main.data.interno.timestamp }}","rightValue":"={{ $now.minus(5, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROSSEGUIR"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"ESPERAR"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2340,520],"id":"ca8c9589-da06-4c09-8278-094abdef5138","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"2e05527b-4d82-43cd-a4e3-373274c3a74f","name":"main.finaltext","value":"={{ $json.content }}","type":"string"},{"id":"40596a72-087e-4396-83be-d39c05cc7847","name":"main.data","value":"={{ $('normalizacao').item.json.main }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,520],"id":"a4cbad37-98d8-4a26-8b0c-0ce1ae24f589","name":"concat"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2640,700],"id":"62f15a09-64cb-441b-818f-22973832632d","name":"Wait2","webhookId":"9bc3088d-ecd1-4897-a613-a0b0c15ee15e"},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_MESSAGE"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2620,520],"id":"3c8e0d96-efc9-4680-969a-2dc14b723a4a","name":"Redis3"},{"parameters":{"options":{"systemMessage":"={\n  \"context\": {\n    \"identity\": \"Lia - Assistente de atendimento\",\n    \"business\": \"Legacy - Soluções de Automação Inteligentes\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n\n  \"personality\": [\n    \"Profissional, Amigável, Empática, Fala clara e objetiva, use emojis com moderação (apenas: 😊, 😁 e 🥰)\"\n  ],\n\n  \"objectives\": [\n    \"Qualificar o cliente, entender suas dores, gerar um resumo da situação, envia-lo para o CRM e dizer ao cliente que tem a solução para seu problema\",\n    \"Oferecer e agendar uma reunião obrigatoriamente\"\n  ],\n\n  \"general_rules\": [\n    \"Quando estiver realizando a Descoberta de Necessidades (Anamnese), sempre responda as perguntas do lead antes de prosseguir para o próxima mensagem\",\n    \"Nunca finalize um primeiro contato sem oferecer agendamento\",\n    \"Foque no objetivo do cenário: atendimento, coleta de informações do cliente e agendamento de reunião\",\n    \"Use a tool 'AGENDAMENTO' para agendar a reunião\",\n    \"Use a tool 'ENVIAR_CRM' para enviar o resumo gerado para o CRM\",\n    \"o nome do cliente é {{ $('Webhook1').item.json.body.data.pushName }}, caso seja um nome composto, use apenas o primeiro nome.\nExemplo: Gustavo Murilo. Use apenas 'Gustavo', ignore o 'Murilo'\",\n\n  ],\n\n  \"guardrails\": [\n    \"Nunca inicie uma conversa novamente com o cliente após finalizar um atendimento\", \n    \"Jamais fale para o cliente sobre os processos internos que está realizando, nunca diga que salvou as informações dele no sistema\",\n    \"Sempre cite apenas o primeiro nome do cliente na primeira mensagem {{ $('Webhook1').item.json.body.data.pushName }}, não use o sobrenome\"\n    \"Nunca cite o sobrenome de um cliente, sempre se refira a ele apenas pelo primeiro nome\"\n]\n\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Saudação e Apresentação da Legacy\",\n        \"instructions\": \"Apresente-se como Lia da Legacy\",\n        \"obrigatory_messages\": \"Oiii {{ $('Webhook1').item.json.body.data.pushName }}, tudo bem?😊/ Aqui é a Lia da Legacy. / Fico feliz que você esteja aqui!/ Oferecemos os melhores assistentes de IA do Brasil, que ajudam seu negócio a vender mais, aprimoram o suporte aos seus clientes e agendam consultas de forma super eficiente!\n/ Mas, antes de entrar em mais detalhes sobre eles, me conta uma coisa: qual é o nome do seu negócio e o que vocês fazem?\n\"\n      },\n      {\n        \"step\": \"Descoberta de Necessidades (Anamnese)\",\n        \"instructions\": \"Realize a sequência de perguntas abaixo (uma por uma, nunca faça mais de uma pergunta por vez), de forma natural, esperando a resposta do cliente antes de prosseguir para a próxima pergunta\",\n        \"obrigatory_messages\": \"Pra gente entender melhor como ajudar, posso te fazer algumas perguntas rápidas?\\n Legal, {{ $('Webhook1').item.json.body.data.pushName }}! E em média quantas mensagens você recebe por dia no WhatsApp?\\n Você faz isso sozinha ou tem uma equipe para ajudar?\nQuais são os principais desafios que você enfrenta no atendimento ao cliente?\\n Vocês têm algum sistema de CRM ou controle de leads?\\n Como você classifica o porte do seu negócio - pequeno, médio ou grande? Isso nos ajuda a personalizar a melhor solução para você.\"\n      },\n      {\n        \"step\": \"Oferecer Agendamento\",\n        \"instructions\": \"Nunca pule esta etapa. Convide para agendar uma conversa via Google Agenda\",\n        \"example_message\": \"Perfeito,(insira o nome do cliente aqui). Obrigada pelas informações 🥰. / Já temos o seu diagnóstico e o próximo passo é agendarmos uma reunião! Será bem rapidinho e nela eu vou te apresentar a solução ideal pra você já com informações de preços! Vamos marcar?\"\n      },\n      {\n        \"step\": \"Solicitar email\",\n        \"instructions\": \"Solicite o email do cliente\"\n        \"example_message\": \"Me mande o seu e-mail para que eu possa abrir o pedido de agendamento aqui na Legacy por favor!\"\n      },\n      {\n        \"step\": \"AGENDAMENTO\",\n        \"instructions\": \"OBRIGATORIO. Use sempre a tool AGENDAMENTOS para buscar horários disponíveis e agendar. Nunca agende mais de uma reunião para o mesmo horário.\"\n        \"example_message\": \"Econtrei um dia disponível, posso agendar para (data e hora disponíveis)?\"\n      },\n      {\n        \"step\": \"Enviar link da reunião para o cliente\",\n        \"instructions\": \"OBRIGATORIO. Diga ao cliente que ele vai receber o link da reunião no email que ele forneceu. \n\nTambém envie o link da reunião pra ele (não use markdowm ou envie todas as informações, envie apenas o link\"\n      },\n\n      {\n        \"step\": \"Enviar RESUMO e LINK DA REUNIÃO para o CRM e finalizar atendimento\",\n        \"instructions\": \"Nunca pule esta etapa. Após enviar o link da reunião para o cliente, use a tool 'ENVIAR_CRM' para salvar o resumo do cliente E link da reunião no CRM. Após isso, use a tool 'finalizar_atendimento'\",\n      }\n    ]\n  },\n\n  \"output_esperado_em_json\": \n        {\n          \"mensagens\": [\n            {\n              \"mensagem\": \"Olá! Tudo bem? Me chamo Lia!\"\n            },\n            {\n              \"mensagem\": \"Sou assistente de atendimento digital da Legacy. Qual o seu nome, por gentileza?\"\n            }\n          ]\n    }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3520,340],"id":"0fcbeb1d-01cc-40a6-abbf-ce72234b8080","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3280,620],"id":"377cae3e-7451-4340-a68d-3b7ad7577dfc","name":"OpenAI Chat Model"},{"parameters":{"operation":"delete","key":"LIA_556285372793_DEAL_ID"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-520,-100],"id":"9bb950c4-3c41-484b-895e-f204c4e51b92","name":"Redis1"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[600,-240],"id":"a1822851-7f73-4205-bf6b-e87829f1fca6","name":"Chat Memory Manager"},{"parameters":{"assignments":{"assignments":[{"id":"dacc51da-1873-4c4b-a188-954c6c1620ab","name":"key","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,-240],"id":"b760f708-4d30-4864-95a2-144830b7ac14","name":"Edit Fields6"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/message/sendText/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0]}}\",\n    \"delay\": 1000,\n    \"text\": \"Seu histórico de conversa com a IA foi limpo por completo!\"\n}","options":{}},"id":"df87fe0c-6e54-4b6c-a752-d8615af280ae","name":"Responde texto2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"851e7a59-461a-4aab-9745-ccd6ac046590","leftValue":"={{ $('Webhook1').item.json.body.data.message.conversation }}","rightValue":"!excluir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,560],"id":"1c40159a-8068-46f2-b0c7-d310b987106e","name":"Verifica comando excluir"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('crm').item.json.identifier }}_MEMORY","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[480,-40],"id":"f2754209-4668-4b2d-b497-4791e59517ed","name":"Redis Chat Memory1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intervencao_humana }}","rightValue":"habilitado","operator":{"type":"string","operation":"equals"},"id":"2341e444-e91f-4895-aea5-d7274f3acf1f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Block_IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d645d8d0-15e9-4202-a43e-abbbce06bf58","leftValue":"={{ $('normalizacao').item.json.main.interno.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Block_IA"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Prosseguir"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2260,680],"id":"f51df387-ce6d-46d9-84be-a1385d124162","name":"Switch3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1960,320],"id":"63369fa5-d00c-4ad4-86d2-dc18f4452376","name":"No Operation, do nothing1"},{"parameters":{"workflowId":{"__rl":true,"value":"7Kz4oxnZwyqTcvWi","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"IDENTIFIER":"={{ $('crm').item.json.identifier }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"IDENTIFIER","displayName":"IDENTIFIER","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1960,480],"id":"fd838381-0bb3-4843-9366-691f615b23f8","name":"Execute Workflow"},{"parameters":{"operation":"get","propertyName":"deal_id","key":"={{ $('crm').item.json.identifier }}_DEAL_ID","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1640,580],"id":"96d8bffa-e97a-415e-a43d-29ca1674462d","name":"Redis2"},{"parameters":{"operation":"get","propertyName":"intervencao_humana","key":"={{ $json.identifier }}_BLOCK","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2500,560],"id":"96dbef4c-ad12-4666-b1e6-bda0ca59a4b6","name":"Redis"},{"parameters":{"httpMethod":"POST","path":"lia_legacy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3180,560],"id":"4a3616c4-9c82-4d03-abfc-e93cec482f75","name":"Webhook1","webhookId":"2de7fbb5-ae73-4485-837d-27e9f5811dfb"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/message/sendText/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.main.interno.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('concat').item.json.main.data.lead.remoteJid }}"},{"name":"text","value":"={{ $json.mensagem }}"},{"name":"delay","value":"={{ 4852 }}"}]},"options":{}},"id":"5f7a573e-58f0-483d-b94d-40851e241adf","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5500,520]},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3040,780],"id":"c1418719-2bec-48fa-973f-14726f3c18f4","name":"Google Gemini Chat Model","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5ce5ece0-3fa7-46a0-bb1d-bb7205d02c0a","name":"rd_token","value":"682e5c071fb95d0020c1fdac","type":"string"},{"id":"3286b560-4693-4a41-bb19-891e482ab542","name":"deal_stage_id","value":"682e5baf4578ae00164dd07e","type":"string"},{"id":"3349dad2-28a3-41d8-a5de-c2f72d511327","name":"identifier","value":"=LIA_{{ $json.main.lead.remoteJid.slice(0,12) }}","type":"string"},{"id":"74c1baa5-33f3-4139-b13c-ffc9000be414","name":"custom_field_id_link","value":"683099678a11cc0014e186ef","type":"string"},{"id":"f6dff6db-1e37-44eb-8d36-22864f5877d4","name":"custom_field_id_resumo","value":"682fa04f0aecd40014d677d2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2760,560],"id":"53e2a5e2-9a2e-49a4-9732-6922b9a54573","name":"crm"},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_DEAL_ID"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1000,-240],"id":"fa58afd0-4f9a-480e-96fa-56dfe8789e49","name":"Redis4"},{"parameters":{"description":"Chame essa tool para agendar uma reunião","workflowId":{"__rl":true,"mode":"id","value":"KLBWp1MgqZXmDlw7"},"workflowInputs":{"mappingMode":"defineBelow","value":{"IDENTIFIER":"={{ $('crm').item.json.identifier }}","query":"={{ $('concatena_messages').item.json.chatInput }}"},"matchingColumns":["IDENTIFIER"],"schema":[{"id":"IDENTIFIER","displayName":"IDENTIFIER","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4180,760],"id":"1f509bf5-7be1-4f27-8406-834e59ea8877","name":"AGENDAMENTOS"},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_NAME"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1220,-240],"id":"3532feed-e0d4-487d-ab2c-34a78219a642","name":"Redis5"},{"parameters":{"description":"Use essa ferramenta para enviar o resumo do cliente para o CRM","workflowId":{"__rl":true,"mode":"id","value":"cCSs5srX9wrxsRma"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rdToken":"={{ $('crm').item.json.rd_token }}","IDENTIFIER":"={{ $('crm').item.json.identifier }}","resumo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', `insira aqui o resumo do caso do cliente`, 'string') }}","deal_id":"={{ $('Redis2').item.json.deal_id }}","custom_field_id_link":"={{ $('crm').item.json.custom_field_id_link }}","custom_field_id_resumo":"={{ $('crm').item.json.custom_field_id_resumo }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', `insira aqui o link da reunião do meet`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"IDENTIFIER","displayName":"IDENTIFIER","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rdToken","displayName":"rdToken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"custom_field_id_link","displayName":"custom_field_id_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumo","displayName":"resumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"deal_id","displayName":"deal_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"custom_field_id_resumo","displayName":"custom_field_id_resumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4040,760],"id":"50fa8e10-4d6b-4171-aee8-beec2c07191f","name":"ENVIAR_CRM"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"K9DpjtbCct7szoFN"},"workflowInputs":{"mappingMode":"defineBelow","value":{"rd_token":"={{ $('crm').item.json.rd_token }}","NOME ":"={{ $('Webhook1').item.json.body.data.pushName }}","NUMERO":"={{ $('Webhook1').item.json.body.data.key.remoteJid.slice(0,12) }}","deal_stage_id":"={{ $('crm').item.json.deal_stage_id }}","IDENTIFIER":"={{ $('crm').item.json.identifier }}"},"matchingColumns":[],"schema":[{"id":"rd_token","displayName":"rd_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"deal_stage_id","displayName":"deal_stage_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"NOME ","displayName":"NOME ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"IDENTIFIER","displayName":"IDENTIFIER","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-580,320],"id":"07c1e2b9-adbe-4585-b8d2-ad5f664112ac","name":"cadastro_deal1"},{"parameters":{"assignments":{"assignments":[{"id":"c99bfed4-2c57-401d-a2e4-23814f4cb272","name":"deal_id","value":"={{ $json.deal_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,600],"id":"d3adaed0-7bde-438b-9a4a-5f8b10856f70","name":"deal_id1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.deal_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"07751de1-bf3d-4cd8-bd3e-75c9f75c83bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"novo_lead"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,580],"id":"e9e490d5-af8f-48f9-929f-76b328d2a144","name":"Switch4"},{"parameters":{"operation":"delete","key":"LIA_556285372793_MESSAGE"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-960,-160],"id":"8620a234-993a-429b-94a9-a3aa663e72b3","name":"Redis6"},{"parameters":{"assignments":{"assignments":[{"id":"3b27fd5d-3fd5-40a8-8bb0-d1d076e7b4cc","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,720],"id":"006395fc-deeb-40ef-afdd-3263ed00ca8b","name":"concat_audio"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"BinaryAudio","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,720],"id":"05d75532-a4c5-40e8-bc46-4d363227e810","name":"OpenAI"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"BinaryAudio","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1040,720],"id":"5aabc79b-27e9-47a2-b7de-91bfc5e1aaab","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/chat/getBase64FromMediaMessage/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.main.interno.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('normalizacao').item.json.main.interno.messageId }}\"\n    }\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,720],"id":"8a482565-8702-4604-8b8b-90ac0742435a","name":"HTTP Request"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.data.key.remoteJid.slice(0,12) }}","tableName":"=n8n_chat_histories","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3440,620],"id":"4bf30298-0768-4243-bf3f-1aad129ef296","name":"Postgres Chat Memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('normalizacao').item.json.main.lead.remoteJid.slice(0,12) }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[680,-40],"id":"327b56ea-71ee-48d4-9fb8-16cd991e6358","name":"Postgres Chat Memory1"},{"parameters":{"content":"## Payload\n","height":500,"width":660,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3260,360],"typeVersion":1,"id":"d7af5b38-8bef-4803-ad0f-16bc662da07d","name":"Sticky Note"},{"parameters":{"content":"## Check block\n","height":580,"width":820,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2540,280],"typeVersion":1,"id":"eed0c611-348a-41ab-a835-5b5472a56619","name":"Sticky Note1"},{"parameters":{"content":"## Lógica relacionada ao cadastro do lead no CRM\n- Dependendo do fluxo, essa lógica se altera\n- Aqui, o lead só é cadastrado após fornecer seu Nome\n","height":580,"width":1420,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1480,260],"typeVersion":1,"id":"539be688-5e84-43c0-ada3-80fede3ae957","name":"Sticky Note2"},{"parameters":{"content":"## Debug tools\n- Comando !excluir\n","height":480,"width":1520,"color":7},"type":"n8n-nodes-base.stickyNote","position":[300,-380],"typeVersion":1,"id":"1998e882-cb26-46a6-a590-3b473af13e1f","name":"Sticky Note3"},{"parameters":{"content":"## Tratamento de tipos de dados:\n- mensagem de texto / áudio","height":660,"width":1400,"color":7},"type":"n8n-nodes-base.stickyNote","position":[440,260],"typeVersion":1,"id":"05dead5f-fad6-4ffd-b993-bc629541bc31","name":"Sticky Note4"},{"parameters":{"content":"## Debounce / buffer de mensagens ","height":660,"width":1080,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1880,280],"typeVersion":1,"id":"3ab16207-77ba-408b-85dd-6119de281404","name":"Sticky Note5"},{"parameters":{"content":"## AI agent","height":680,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3000,260],"typeVersion":1,"id":"a7e1f7a9-8f56-485d-9bb6-e770ce288d25","name":"Sticky Note6"},{"parameters":{"content":"## Envio de mensagens em chunks","height":680,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","position":[4380,260],"typeVersion":1,"id":"78810eff-dfd9-4d50-9ac0-64daec92b8be","name":"Sticky Note7"},{"parameters":{"content":"### Esse workflow tem os seguintes sub-workflows:\n\n- Agendamento - https://n8n.vps.legacyia.com.br/workflow/KLBWp1MgqZXmDlw7\n\n- Enviar CRM - https://n8n.vps.legacyia.com.br/workflow/cCSs5srX9wrxsRma\n\n- Criar Lead - https://n8n.vps.legacyia.com.br/workflow/K9DpjtbCct7szoFN\n\n- Follow-up - https://n8n.vps.legacyia.com.br/workflow/POtdYvHUdDVEraCB","height":360,"width":600},"type":"n8n-nodes-base.stickyNote","position":[-3240,-200],"typeVersion":1,"id":"5f40df6d-d387-4c1f-aa25-dd7495f0a9d5","name":"Sticky Note8"},{"parameters":{"operation":"executeQuery","query":"UPDATE \"AtendimentoStatusV2\" \nSET \"status\" = 'finalizado', \n    \"ultimainteracao\" = NOW()\nWHERE \"remotejid\" = '{{ $('When Executed by Another Workflow').item.json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,1320],"id":"854f1c16-89dd-4027-bd5b-cecc0d0af20a","name":"Postgres"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"AtendimentoStatusV2\" (\n    \"remotejid\", \n    \"status\", \n    \"ultimainteracao\"\n) VALUES (\n    '{{ $('normalizacao').item.json.main.lead.remoteJid.slice(0,12) }}', \n    'ativo', \n    NOW()\n)\nON CONFLICT (\"remotejid\") DO UPDATE SET\n    \"status\" = EXCLUDED.\"status\",\n    \"ultimainteracao\" = EXCLUDED.\"ultimainteracao\",\n    \"atualizadoem\" = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-380,360],"id":"b401248b-63fb-451a-becd-56b7227a8019","name":"Postgres1"},{"parameters":{"workflowInputs":{"values":[{"name":"remoteJid"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1720,1320],"id":"e1c90952-5f56-4434-a383-06bf4ff4945b","name":"When Executed by Another Workflow"},{"parameters":{"description":"Chame essa tool para finalizar um atendimento após enviar o link da reunião para o cliente.","workflowId":{"__rl":true,"value":"xY2eHc0QTNlKQfi4","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('normalizacao').item.json.main.lead.remoteJid }}"},"matchingColumns":[],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3840,760],"id":"a0d060c6-3a48-4955-b7b6-baedbab6391b","name":"Finalizar_atendimento"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1320],"id":"4127ee9e-a2b7-4ef2-952f-01b3b5968a57","name":"pass through"},{"parameters":{"content":"# Finalizar atendimento\n\n","height":360,"width":840,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1560,1180],"typeVersion":1,"id":"eb3a206f-58d8-4fca-9fe1-9abb895a52de","name":"Sticky Note9"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Responde texto","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"crm","type":"main","index":0}]]},"Switch":{"main":[[{"node":"concat_text","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"concat_text":{"main":[[{"node":"concat","type":"main","index":0}]]},"armazena_messagem":{"main":[[{"node":"obter_mensages_buffer","type":"main","index":0}]]},"obter_mensages_buffer":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"Redis3","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"concat":{"main":[[{"node":"armazena_messagem","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"obter_mensages_buffer","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"concatena_messages","type":"main","index":0}]]},"concatena_messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Verifica comando excluir":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Responde texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"crm":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Redis5","type":"main","index":0}]]},"AGENDAMENTOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis5":{"main":[[{"node":"Responde texto2","type":"main","index":0}]]},"ENVIAR_CRM":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cadastro_deal1":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"cadastro_deal1","type":"main","index":0}],[{"node":"deal_id1","type":"main","index":0}]]},"deal_id1":{"main":[[{"node":"Verifica comando excluir","type":"main","index":0}]]},"concat_audio":{"main":[[{"node":"concat","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"concat_audio","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Postgres1":{"main":[[{"node":"deal_id1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"pass through","type":"main","index":0}]]},"Finalizar_atendimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"pass through":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"webhook.vps.legacyia.com.br","user-agent":"axios/1.7.9","content-length":"890","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.vps.legacyia.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"ca2398d04994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"legacy","data":{"key":{"remoteJid":"556285372793@s.whatsapp.net","fromMe":false,"id":"3A6DA9640526A7B65CEF"},"pushName":"Lucas Gontijo","status":"DELIVERY_ACK","message":{"conversation":"!excluir","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"Pfp4A9OXk0AujQ==","senderTimestamp":"1747871274","recipientKeyHash":"pIPplPfQmESQNA==","recipientTimestamp":"1748028793"},"deviceListMetadataVersion":2,"messageSecret":"MKjh956ZhG2VqDLOcqrU0s48a+cla4Mfy+XeovrILEw="}},"messageType":"conversation","messageTimestamp":1748530249,"instanceId":"5849eb86-ed46-414d-b2fb-38e7906ef196","source":"ios"},"destination":"https://webhook.vps.legacyia.com.br/webhook/lia_legacy","date_time":"2025-05-29T11:50:49.768Z","sender":"556599814979@s.whatsapp.net","server_url":"https://evolution.vps.legacyia.com.br","apikey":"DE60DACC4EE3-4DFB-A18C-DCA52548D338"},"webhookUrl":"https://webhook.vps.legacyia.com.br/webhook/lia_legacy","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"remoteJid":"556285372793@s.whatsapp.net"}}]},"versionId":"a78b4f61-2e9a-437f-86da-1bf38e3543e1","triggerCount":0,"tags":[{"createdAt":"2025-06-06T22:15:01.455Z","updatedAt":"2025-06-06T22:15:01.455Z","id":"imoPstlql1VlmXm2","name":"VIVIAN"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}