workflows/MAIN.json
{"createdAt":"2025-06-13T17:31:06.195Z","updatedAt":"2025-07-01T19:09:19.730Z","id":"EPdZOmq773KMI1vZ","name":"MAIN","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5840,440],"id":"6562daaf-02fa-4aab-8bfe-96f980b8b317","name":"Loop Over Items"},{"parameters":{"amount":1},"id":"92bb1288-dce3-4be3-9bf5-e379c2c59e3d","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6160,460],"webhookId":"de0c5c75-3868-4fbe-a2a1-5c765ecbb418"},{"parameters":{"fieldToSplitOut":"mensagens","options":{}},"id":"11a3d201-a6a0-4a65-9ed3-bb4dc0b8c410","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5540,440]},{"parameters":{"assignments":{"assignments":[{"id":"2f56ff24-5f31-403b-876a-77aa7aaee05b","name":"main.lead.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"f654d089-6dfc-42fa-869e-caee66c917d2","name":"main.interno.fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"70d13441-e98f-4922-8ac0-5748ae769254","name":"main.lead.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"859c45b4-f866-4adb-868e-aa489c4a6b79","name":"main.lead.content","value":"={{ $json.body?.data?.message?.extendedTextMessage?.text || '' }}{{ $json.body?.data?.message?.imageMessage?.caption || '' }}{{ $json.body?.data?.message?.conversation || '' }}{{ $json.body?.data?.message?.reactionMessage?.text || '' }}{{ $json?.body?.data?.message?.templateMessage?.hydratedTemplate?.hydratedContentText || ''}}{{ $json?.body?.data?.message?.speechToText || '' }}","type":"string"},{"id":"85b9bce5-f132-489a-8300-902307f4d8d1","name":"main.interno.messageType","value":"={{ $json.body?.data?.message?.extendedTextMessage ? 'text' : '' }}{{ $json.body?.data?.messageType === 'conversation' ? 'text' : '' }}{{ $json.body?.data?.message?.audioMessage ? 'audio' : '' }}{{ $json.body?.data?.message?.imageMessage ? 'image' : '' }}{{ $json.body?.data?.messageType === 'reactionMessage' ? 'text' : '' }}{{ $json.body?.data?.messageType === 'templateMessage' ? 'text' : ''}}{{ $json.body.data.messageType === 'stickerMessage' ? 'image' : '' }}","type":"string"},{"id":"75a99105-aa64-4046-86d9-5ba1f1ed9983","name":"main.interno.serverUrl","value":"={{ $json.body.server_url }}","type":"string"},{"id":"fc4e8522-765f-4c1c-ab6b-a080918d80c2","name":"main.interno.apiKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8ba90841-6a52-492c-8c78-837fdd0ef763","name":"main.interno.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"bb2f01d3-bebe-4eca-92b3-3bb18d45b4cd","name":"main.interno.mediaUrl","value":"={{ $json.body.data.message.mediaUrl }}","type":"string"},{"id":"ff6c9a08-53ed-4b84-a6e0-9e7e1c8a965c","name":"main.interno.messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"211712fc-09bf-46c6-8d69-eba8584db143","name":"main.interno.timestamp","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,580],"id":"863989fd-251e-49ac-a0a4-1d8f7411e390","name":"normalizacao"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('normalizacao').item.json.main.interno.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"69f0d7f5-b8aa-4566-92aa-38ce4c6c3029"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b7fce0a-dad9-417c-90b9-c453f9118120","leftValue":"={{ $('normalizacao').item.json.main.interno.messageType }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[800,540],"id":"b9cb9347-34a8-4f8f-8135-ff8638a82d59","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a4bed19c-e2a8-46d1-ba71-3a080efc7407","name":"content","value":"={{ $('normalizacao').item.json.main.lead.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,380],"id":"68d8fbfb-4bd7-4109-af48-2bba41a90312","name":"concat_text"},{"parameters":{"operation":"push","list":"={{ $('crm').item.json.identifier }}_MESSAGE","messageData":"={{ JSON.stringify($json) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2420,520],"id":"cd0f79e0-3c54-4ea2-a6ff-bec9e7ea7079","name":"armazena_messagem","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('crm').item.json.identifier }}_MESSAGE","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2660,520],"id":"09dc9032-af29-4f08-bdcb-2d259ad1bc06","name":"obter_mensages_buffer","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1f647add-4dbc-475c-ba4c-f416374a743a","name":"chatInput","value":"={{ $json.messages.map(value => JSON.parse(value).main.finaltext).join(\"\\n\") }}","type":"string"},{"id":"4a7c7106-dff5-46c1-994a-9ea7c4dc71d7","name":"main.interno.messageId","value":"={{ $('normalizacao').item.json.main.interno.messageId }}","type":"string"},{"id":"5f25b98e-ce4d-4a4c-8d89-73f961289bfd","name":"main.interno.pushName","value":"={{ $('normalizacao').item.json.main.lead.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3340,520],"id":"3ed5210d-15c2-4b9b-9ccb-b7b038cf0ff8","name":"concatena_messages"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages.first().parseJson().main.data.interno.messageId }}","rightValue":"={{ $('normalizacao').item.json.main.interno.messageId }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NADA A FAZER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9eeffab-b065-4d08-a9aa-7584350ac532","leftValue":"={{ $json.messages.last().parseJson().main.data.interno.timestamp }}","rightValue":"={{ $now.minus(5, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROSSEGUIR"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"ESPERAR"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2860,520],"id":"71553664-be56-40b3-824c-eab7df30a41f","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"2e05527b-4d82-43cd-a4e3-373274c3a74f","name":"main.finaltext","value":"={{ $json.content }}","type":"string"},{"id":"40596a72-087e-4396-83be-d39c05cc7847","name":"main.data","value":"={{ $('normalizacao').item.json.main }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2220,520],"id":"81cf8b5a-0863-4cfe-a4cd-350976110c61","name":"concat"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3160,700],"id":"04544bb3-79e8-48b5-ae0d-3a4d48a5a708","name":"Wait2","webhookId":"f16320e4-29dd-44a5-bc1a-bd2014126be8"},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_MESSAGE"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3160,520],"id":"b2b61ec8-192d-4e5c-a958-a9d5f97024f8","name":"Redis3","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"={\n  \"context\": {\n    \"identity\": \"Susane - Consultora de Vendas\",\n    \"business\": \"Joalheria Veridian - Joias Exclusivas & Elegantes\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n\n  \"personality\": [\n    \"Elegante, Atenciosa, Conhecedora de joias, Consultiva, Calorosa, use emojis com moderação (apenas: ✨, 💎, 😊, 🥰, 💍)\"\n  ],\n\n  \"objectives\": [\n    \"Apresentar os produtos da joalheria de forma consultiva e elegante\",\n    \"Esclarecer dúvidas sobre produtos, localização, horários e serviços\",\n    \"Identificar necessidades do cliente e recomendar peças adequadas\",\n    \"Facilitar o processo de compra e agendamento de visitas à loja\"\n  ],\n\n  \"store_info\": {\n    \"localizacao\": \"Rua das Pedras Preciosas, 1847 - Bairro Diamante, São Paulo - SP\",\n    \"horario_funcionamento\": \"Segunda a Sexta: 9h às 19h | Sábado: 9h às 17h | Domingo: 10h às 16h\",\n    \"telefone\": \"(11) 3456-7890\",\n    \"whatsapp\": \"(11) 99876-5432\",\n    \"servicos\": [\n      \"Joias sob medida\",\n      \"Reforma e conserto de joias\",\n      \"Avaliação de pedras preciosas\",\n      \"Gravação personalizada\",\n      \"Certificado de autenticidade\",\n      \"Garantia vitalícia em ouro\"\n    ]\n  },\n\n  \"general_rules\": [\n    \"Sempre responda as perguntas do cliente de forma completa antes de oferecer produtos\",\n    \"Use a tool 'VER_CATALOGO' para consultar produtos disponíveis quando solicitado\",\n    \"Seja consultiva, perguntando sobre ocasião, estilo e preferências antes de recomendar\",\n    \"Mencione sempre a qualidade premium e exclusividade das peças\",\n    \"o nome do cliente é {{ $('Webhook1').item.json.body.data.pushName }}, caso seja um nome composto, use apenas o primeiro nome. Exemplo: Maria Silva. Use apenas 'Maria', ignore o 'Silva'\"\n  ],\n\n  \"guardrails\": [\n    \"Nunca confirme preços sem consultar o catálogo atual\",\n    \"Sempre cite apenas o primeiro nome do cliente, nunca use sobrenomes\",\n    \"Não prometa descontos sem autorização prévia\",\n    \"Mantenha sempre tom elegante e sofisticado adequado ao segmento de joias\"\n  ],\n\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Saudação e Apresentação da Joalheria\",\n        \"instructions\": \"Apresente-se como Susane da Joalheria Veridian de forma elegante\",\n        \"obrigatory_messages\": \"Olá {{ $('Webhook1').item.json.body.data.pushName }}, que prazer ter você aqui! ✨ / Sou a Susane, consultora da Joalheria Veridian / Trabalhamos com as mais belas joias exclusivas, peças únicas que contam histórias e celebram momentos especiais 💎 / Como posso ajudá-la hoje? Está procurando algo especial ou gostaria de conhecer nossas novidades?\"\n      },\n      {\n        \"step\": \"Identificação de Necessidades\",\n        \"instructions\": \"Faça perguntas consultivas para entender o que o cliente busca\",\n        \"example_questions\": [\n          \"Para qual ocasião especial você está procurando?\",\n          \"Que tipo de joia desperta seu interesse? Anéis, colares, brincos, pulseiras?\",\n          \"Tem preferência por algum metal específico? Ouro, prata, ouro rose?\",\n          \"É um presente ou para uso próprio?\",\n          \"Qual estilo mais combina com você? Clássico, moderno, romântico?\"\n        ]\n      },\n      {\n        \"step\": \"Consulta ao Catálogo\",\n        \"instructions\": \"Use a tool VER_CATALOGO para buscar produtos adequados ao perfil identificado\",\n        \"example_message\": \"Perfeito! Deixe-me consultar nosso catálogo para encontrar as peças ideais para você ✨\"\n      },\n      {\n        \"step\": \"Apresentação de Produtos\",\n        \"instructions\": \"Apresente os produtos de forma elegante, destacando características únicas\",\n        \"presentation_format\": [\n          \"Nome da peça\",\n          \"Descrição detalhada (material, pedras, acabamento)\",\n          \"Diferenciais únicos\",\n          \"Ocasiões ideais de uso\",\n          \"Preço (se disponível no catálogo)\"\n        ]\n      },\n      {\n        \"step\": \"Esclarecimento de Dúvidas\",\n        \"instructions\": \"Responda dúvidas sobre produtos, loja, serviços de forma completa\",\n        \"common_topics\": [\n          \"Localização e como chegar\",\n          \"Horários de funcionamento\", \n          \"Formas de pagamento\",\n          \"Garantias e certificados\",\n          \"Serviços especiais (reforma, personalização)\",\n          \"Agendamento para visita\"\n        ]\n      },\n      {\n        \"step\": \"Facilitação da Compra\",\n        \"instructions\": \"Ofereça opções para finalizar a compra ou agendar visita\",\n        \"example_message\": \"{{ $('Webhook1').item.json.body.data.pushName }}, ficou interessada em alguma peça? Posso reservar para você ou prefere agendar uma visita para conhecer pessoalmente? 💍\"\n      },\n      {\n        \"step\": \"Informações da Loja\",\n        \"instructions\": \"Sempre que solicitado, forneça informações completas da loja\",\n        \"store_details\": {\n          \"endereco\": \"Estamos localizados na Rua das Pedras Preciosas, 1847 - Bairro Diamante, São Paulo - SP\",\n          \"horarios\": \"Funcionamos de Segunda a Sexta das 9h às 19h, Sábado das 9h às 17h e Domingo das 10h às 16h\",\n          \"contato\": \"Telefone: (11) 3456-7890 | WhatsApp: (11) 99876-5432\",\n          \"estacionamento\": \"Temos estacionamento gratuito para clientes\",\n          \"como_chegar\": \"Próximo ao Shopping Diamante, fácil acesso de metrô (Estação Pedras Preciosas - Linha Verde)\"\n        }\n      },\n      {\n        \"step\": \"Finalização Elegante\",\n        \"instructions\": \"Finalize sempre de forma elegante, deixando canais abertos\",\n        \"example_message\": \"Foi um prazer atendê-la, {{ $('Webhook1').item.json.body.data.pushName }}! ✨ Estarei sempre aqui para ajudá-la a encontrar a joia perfeita. Tenha um dia brilhante! 💎\"\n      }\n    ]\n  },\n\n  \"tools_available\": [\n    {\n      \"name\": \"VER_CATALOGO\",\n      \"description\": \"Consulta produtos disponíveis no catálogo da joalheria\",\n      \"usage\": \"Use quando cliente perguntar sobre produtos específicos, preços ou quiser ver opções disponíveis\"\n    }\n  ],\n\n  \"response_patterns\": {\n    \"product_recommendation\": \"Com base no que você me contou, encontrei algumas peças lindas que podem ser perfeitas para você! ✨\",\n    \"store_info\": \"Claro! Vou te passar todas as informações da nossa loja 😊\",\n    \"doubt_clarification\": \"Fico feliz em esclarecer essa dúvida para você!\",\n    \"catalog_consultation\": \"Deixe-me consultar nosso catálogo atualizado para você 💎\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4060,360],"id":"da632be6-5042-4049-a80b-a83a364994bf","name":"AI Agent"},{"parameters":{"operation":"delete","key":"LIA_556285372793_DEAL_ID"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,-820],"id":"6677289f-ee3d-4a3c-b213-602fd3e5be0f","name":"Redis1","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[1880,-1000],"id":"20b8d905-cccb-4d1e-9042-97a5ac38ce9c","name":"Chat Memory Manager"},{"parameters":{"assignments":{"assignments":[{"id":"dacc51da-1873-4c4b-a188-954c6c1620ab","name":"key","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,-1000],"id":"80c8d2b9-115e-45da-b926-a34087613d2c","name":"Edit Fields6"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/message/sendText/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0]}}\",\n    \"delay\": 1000,\n    \"text\": \"Seu histórico de conversa com a IA foi limpo por completo!\"\n}","options":{}},"id":"76d2dab9-a87a-4ba1-8f6d-6c0530bb68e7","name":"Responde texto2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,-1000]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intervencao_humana }}","rightValue":"habilitado","operator":{"type":"string","operation":"equals"},"id":"2341e444-e91f-4895-aea5-d7274f3acf1f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Block_IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d645d8d0-15e9-4202-a43e-abbbce06bf58","leftValue":"={{ $('normalizacao').item.json.main.interno.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Block_IA"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Prosseguir"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-900,580],"id":"985a5721-0cfb-491a-afee-b0c47c1c6edf","name":"Switch3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-380,340],"id":"1300048a-76e0-4c2e-b86f-8f0803910e39","name":"No Operation, do nothing1"},{"parameters":{"workflowId":{"__rl":true,"value":"7Kz4oxnZwyqTcvWi","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"IDENTIFIER":"={{ $('crm').item.json.identifier }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"IDENTIFIER","displayName":"IDENTIFIER","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-380,500],"id":"b7325428-6f6f-4f3d-aac4-0d52881f7cee","name":"Execute Workflow"},{"parameters":{"operation":"get","propertyName":"intervencao_humana","key":"={{ $json.identifier }}_BLOCK","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1140,580],"id":"9dfb5372-1c39-43c8-b1b4-4a8718d635af","name":"Redis","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"httpMethod":"POST","path":"olivia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1820,580],"id":"e1561f3d-436b-4dfc-83ab-812e354e8146","name":"Webhook1","webhookId":"f658438f-ad8e-45d7-96dd-274d8e1c8b71"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/message/sendText/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.main.interno.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('concat').item.json.main.data.lead.remoteJid }}"},{"name":"text","value":"={{ $json.mensagem }}"},{"name":"delay","value":"={{ 4852 }}"}]},"options":{}},"id":"c5e04388-730f-4aa0-9654-226a592bf250","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6360,460]},{"parameters":{"assignments":{"assignments":[{"id":"3349dad2-28a3-41d8-a5de-c2f72d511327","name":"identifier","value":"=OLIVIA_{{ $json.main.lead.remoteJid.slice(0,12) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1400,580],"id":"537bd729-dc48-43be-838a-83f62bee294d","name":"crm"},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_DEAL_ID"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2280,-1000],"id":"fa2db364-0081-4545-a275-d51bb80f58df","name":"Redis4","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('crm').item.json.identifier }}_NAME"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2500,-1000],"id":"9f96d754-4701-41fc-a47d-7e5da2df9f49","name":"Redis5","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"operation":"delete","key":"LIA_556285372793_MESSAGE"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2600,-820],"id":"f85d27f7-0da6-4e3b-b534-29b62357276d","name":"Redis6","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b27fd5d-3fd5-40a8-8bb0-d1d076e7b4cc","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,700],"id":"7bc777c8-11d0-44e6-a722-b52f8cebfc6f","name":"concat_audio"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"BinaryAudio","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1620,700],"id":"a1904f20-3b4d-489e-8745-85c2b5dd9f31","name":"OpenAI","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"BinaryAudio","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1400,700],"id":"a8d3db1c-7380-426d-9fc0-cb28c7ca0a3e","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/chat/getBase64FromMediaMessage/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.main.interno.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('normalizacao').item.json.main.interno.messageId }}\"\n    }\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,660],"id":"8afb8bc5-1324-479f-919b-1c65771c6084","name":"HTTP Request"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.data.key.remoteJid.slice(0,12) }}","tableName":"=olivia_memory","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4060,620],"id":"753ca3b8-5a53-4caf-a2df-308149b9a1cc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uPYyJq0BaOxFlMb1","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('normalizacao').item.json.main.lead.remoteJid.slice(0,12) }}","tableName":"olivia_memory","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1960,-800],"id":"ac20c563-3214-4640-af18-53c027583289","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"uPYyJq0BaOxFlMb1","name":"Postgres account"}}},{"parameters":{"content":"## Payload\n","height":500,"width":660,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1900,380],"typeVersion":1,"id":"16f38daf-2238-49fc-bb26-6fb30da92a42","name":"Sticky Note"},{"parameters":{"content":"## Check block\n","height":580,"width":820,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1180,300],"typeVersion":1,"id":"fadc5aa8-cb64-4897-95af-a76a154da358","name":"Sticky Note1"},{"parameters":{"content":"## Debug tools\n- Comando !excluir\n","height":480,"width":1580,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1460,-1120],"typeVersion":1,"id":"f44d39b6-f5f0-4cf8-aeec-a79d614feb27","name":"Sticky Note3"},{"parameters":{"content":"## Tratamento de tipos de dados:\n- mensagem de texto / áudio","height":660,"width":1400,"color":7},"type":"n8n-nodes-base.stickyNote","position":[700,240],"typeVersion":1,"id":"e8e2b83d-f5d1-4d09-b237-216ad8a2057f","name":"Sticky Note4"},{"parameters":{"content":"## Debounce / buffer de mensagens ","height":660,"width":1300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2180,300],"typeVersion":1,"id":"809cc913-eb8f-411f-a88b-f7f4218e59a7","name":"Sticky Note5"},{"parameters":{"content":"## AI agent","height":680,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3600,220],"typeVersion":1,"id":"ab4a3e6f-01cb-477f-984e-130ad7a39a08","name":"Sticky Note6"},{"parameters":{"content":"## Envio de mensagens em chunks","height":680,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","position":[5220,220],"typeVersion":1,"id":"99419ac7-3e65-4096-b720-ac68d5b16beb","name":"Sticky Note7"},{"parameters":{"jsCode":"// Entrada: um único item com o campo \"texto\"\nconst texto = $input.first().json.output;\n\n// Quebra o texto em partes, sempre que encontrar uma linha não vazia\nconst partes = texto.split('\\n').map(p => p.trim()).filter(p => p);\n\n// Monta o array de mensagens\nconst mensagens = partes.map(parte => ({ mensagem: parte }));\n\n// Retorna em formato que o n8n espera (array de objetos)\nreturn [\n  {\n    json: {\n      mensagens\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5300,420],"id":"f72b5c0a-3b79-4b88-95db-58c78cf534bd","name":"Code"},{"parameters":{"description":"Chame essa tool para buscar informações dos produtos, como fotos, descrição e preço.","workflowId":{"__rl":true,"value":"5qxnZhmpDftA5is5","mode":"list","cachedResultName":"ver_catalogo"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[""],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4220,640],"id":"2d2e8fdf-94e2-4ba7-82e9-dda1cd4f0c87","name":"ver_catalogo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.message.conversation }}","rightValue":"!excluir","operator":{"type":"string","operation":"equals"},"id":"6b45570a-e1c0-469e-a239-25a177d36ba4"}],"combinator":"and"},"renameOutput":true,"outputKey":"!excluir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a389bd79-7495-450a-8f3b-c75bfa67b638","leftValue":"={{ $('Webhook1').item.json.body.data.message.conversation }}","rightValue":"!add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"!add"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,260],"id":"ed031d28-64b6-4cf9-ad9f-0f71de5e8aca","name":"Switch2"},{"parameters":{"workflowId":{"__rl":true,"value":"kcMNjziL6W4dnH81","mode":"list","cachedResultName":"add_produto"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2260,-560],"id":"01694ff2-d7b0-4a0b-88a5-e5f5145ccf71","name":"Execute Workflow1"},{"parameters":{"operation":"set","key":"={{ $('crm').item.json.identifier }}_ADD","value":"true"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1840,-560],"id":"ca1793e9-a66e-45a4-b5a6-6887e82430d5","name":"Redis2","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6453c3fb-9028-43e8-9428-185277ddfa6f","leftValue":"={{ $('normalizacao').item.json.main.lead.remoteJid }}","rightValue":"556285372793@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,-540],"id":"a1f13c1d-eb1a-4325-8790-a6d9bf0ca843","name":"If"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/message/sendText/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0]}}\",\n    \"delay\": 1000,\n    \"text\": \"Você não tem permissão para essa ação. Entre em contato com um administrador\"\n}","options":{}},"id":"7ed2bbf3-2d5f-42ec-ae97-406345f814a2","name":"Responde texto3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,-320]},{"parameters":{"operation":"get","propertyName":"add","key":"={{ $('crm').item.json.identifier }}_ADD","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-200,680],"id":"678dc2e7-5842-40c3-bc1e-e02eda4c27db","name":"Redis7","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"28ba3991-846a-47db-81d1-9ee16ba25e9b","leftValue":"={{ $('Redis7').first().json.add}}","rightValue":"true","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,660],"id":"21f75c17-d7f2-4018-b9c8-2df037443119","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"kcMNjziL6W4dnH81","mode":"list","cachedResultName":"add_produto"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1300,1300],"id":"e8f8e7cb-439a-489e-8b72-cb62c9528bad","name":"Execute Workflow2"},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.main.interno.serverUrl }}/chat/getBase64FromMediaMessage/{{ $('normalizacao').item.json.main.interno.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.main.interno.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('normalizacao').item.json.main.interno.messageId }}\"\n    }\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,1460],"id":"b978691d-7b13-450a-a248-df2c3813237f","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5ae29d0-51ca-4154-aa54-fba8132b30a3","leftValue":"={{ $('normalizacao').item.json.main.interno.messageType }}","rightValue":"image","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,1320],"id":"5619b45e-aa4a-47da-9628-349446ba0337","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"743c1d26-34d9-499d-9110-5f98903d0a73","name":"=identifier","value":"={{ $('crm').item.json.identifier}}","type":"string"},{"id":"c20980e7-4081-402d-83c9-964bbb09956b","name":"content","value":"={{ $('normalizacao').item.json.main.lead.content || $('Webhook1').item.json.body.caption}}","type":"string"},{"id":"9a52e08b-a2da-40aa-a35b-261a118ab152","name":"messageType","value":"={{ $('normalizacao').item.json.main.interno.messageType}}","type":"string"},{"id":"2063cabc-51ea-42a3-b4d4-caa491a153ae","name":"serverUrl","value":"={{ $('normalizacao').item.json.main.interno.serverUrl}}","type":"string"},{"id":"5e95dbcb-e352-4955-801a-d4e56f077de8","name":"apiKey","value":"={{ $('normalizacao').item.json.main.interno.apiKey}}","type":"string"},{"id":"59bad714-1272-4c1a-83ea-55a1f0460420","name":"instance","value":"={{ $('normalizacao').item.json.main.interno.instance}}","type":"string"},{"id":"1cb3c9cb-3b17-432a-9805-08f3ec8aa9af","name":"remoteJid","value":"={{ $('normalizacao').item.json.main.lead.remoteJid}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,1300],"id":"c74d40da-2da4-47b7-a6be-7a63a72f305a","name":"Edit Fields1"},{"parameters":{"operation":"set","key":"={{ $('crm').item.json.identifier }}_IMAGE","value":"={{ $json.base64 }}","expire":true,"ttl":1440},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[780,1460],"id":"bd2974f6-9f86-4492-bf15-a522dd9ca32a","name":"Redis8","credentials":{"redis":{"id":"CmFcWR0TAFesyTem","name":"Veridian Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"743c1d26-34d9-499d-9110-5f98903d0a73","name":"=identifier","value":"={{ $('crm').item.json.identifier}}","type":"string"},{"id":"c20980e7-4081-402d-83c9-964bbb09956b","name":"content","value":"={{ $('normalizacao').item.json.main.lead.content || $('Webhook1').item.json.body.caption}}","type":"string"},{"id":"9a52e08b-a2da-40aa-a35b-261a118ab152","name":"messageType","value":"={{ $('normalizacao').item.json.main.interno.messageType}}","type":"string"},{"id":"2063cabc-51ea-42a3-b4d4-caa491a153ae","name":"serverUrl","value":"={{ $('normalizacao').item.json.main.interno.serverUrl}}","type":"string"},{"id":"5e95dbcb-e352-4955-801a-d4e56f077de8","name":"apiKey","value":"={{ $('normalizacao').item.json.main.interno.apiKey}}","type":"string"},{"id":"59bad714-1272-4c1a-83ea-55a1f0460420","name":"instance","value":"={{ $('normalizacao').item.json.main.interno.instance}}","type":"string"},{"id":"1cb3c9cb-3b17-432a-9805-08f3ec8aa9af","name":"remoteJid","value":"={{ $('normalizacao').item.json.main.lead.remoteJid}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2060,-560],"id":"62773382-b9c6-426f-bf76-a82609d9e3d9","name":"Edit Fields"},{"parameters":{"resource":"messages-api","operation":"send-image","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4700,40],"id":"f52ea573-a73e-4027-aae4-8cc9f53fd061","name":"Evolution API","credentials":{"evolutionApi":{"id":"75l8GJUBN0yoU5d6","name":"Evolution account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n\t\"$id\": \"https://example.com/output-parser-schema.json\",\n\t\"title\": \"Output Parser Schema\",\n\t\"description\": \"Schema para estruturar a resposta do agente com mensagem e link opcional\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"link\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"format\": \"uri\",\n\t\t\t\"description\": \"URL da imagem do produto\"\n\t\t},\n\t\t\"mensagem\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"minLength\": 1,\n\t\t\t\"description\": \"Texto da mensagem para o cliente\"\n\t\t}\n\t},\n\t\"required\": [\"mensagem\"],\n\t\"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4760,740],"id":"12012aa7-cd0f-45ea-a0ec-d9b1d013fd4e","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[4580,580],"id":"d64a5c68-1a6c-430d-9cf2-3b8a2f680c39","name":"Auto-fixing Output Parser"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4540,740],"id":"08ac4c84-0bb6-4883-a5f1-a73bd1738654","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Z2YenGk8PU1OZZ4O","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3880,620],"id":"33bbacd5-5f9c-442a-ad31-537add44abcf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Responde texto","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"crm","type":"main","index":0}]]},"Switch":{"main":[[{"node":"concat_text","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"concat_text":{"main":[[{"node":"concat","type":"main","index":0}]]},"armazena_messagem":{"main":[[{"node":"obter_mensages_buffer","type":"main","index":0}]]},"obter_mensages_buffer":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"Redis3","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"concat":{"main":[[{"node":"armazena_messagem","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"obter_mensages_buffer","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"concatena_messages","type":"main","index":0}]]},"concatena_messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Redis7","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Responde texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"crm":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Redis5","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Responde texto2","type":"main","index":0}]]},"concat_audio":{"main":[[{"node":"concat","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"concat_audio","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Redis6":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"ver_catalogo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"Responde texto3","type":"main","index":0}]]},"Redis7":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"webhook.vps.veridianbr.com","user-agent":"axios/1.7.9","content-length":"898","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.vps.veridianbr.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9c89cd1df290","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Olivia","data":{"key":{"remoteJid":"556285372793@s.whatsapp.net","fromMe":false,"id":"3A21E8B288936C1C8B1E"},"pushName":"Lucas Gontijo","status":"DELIVERY_ACK","message":{"conversation":"quero um anel para casamento","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"GC86wBJeGmnNCQ==","senderTimestamp":"1750547677","recipientKeyHash":"M+8YLm7JJNlttg==","recipientTimestamp":"1750794538"},"deviceListMetadataVersion":2,"messageSecret":"PQdxYA6JbUsQUmffixlujAZ7lPK5N5Ko7qYxQx8Stx8="}},"messageType":"conversation","messageTimestamp":1751394104,"instanceId":"cfbd44bd-1f84-41ea-a9a6-637386659c3c","source":"ios"},"destination":"https://webhook.vps.veridianbr.com/webhook/olivia","date_time":"2025-07-01T15:21:44.368Z","sender":"556293142263@s.whatsapp.net","server_url":"https://evo.vps.veridianbr.com","apikey":"C9031DDB22EE-4593-9CAB-71F6816612D9"},"webhookUrl":"https://webhook.vps.veridianbr.com/webhook/olivia","executionMode":"production"}}]},"versionId":"31367dc7-593c-45a5-b0a1-8f8d5ab3f79e","triggerCount":1,"tags":[{"createdAt":"2025-06-13T18:40:07.620Z","updatedAt":"2025-06-13T18:40:07.620Z","id":"I8g40OOJRBD0JwRy","name":"OLIVIA"}],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}