workflows/My workflow 10.json
{"createdAt":"2025-07-13T22:14:42.073Z","updatedAt":"2025-07-13T23:16:22.804Z","id":"M6XiPFeFAFN9PGRc","name":"My workflow 10","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"list-pdf-files","options":{}},"id":"ab967c34-1ee6-44b8-8c70-5f512dc59cc8","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,0],"webhookId":"pdf-files-webhook"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d8bdfdac-ffa9-46a5-b3be-fd9371984211","name":"List Google Drive Files","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,0],"credentials":{"httpHeaderAuth":{"id":"kyvOdB0Q8X1Gk4vA","name":"Header Auth account "}}},{"parameters":{"jsCode":"// Extract files from Google Drive API response\nconst driveResponse = $input.first().json;\nconst allFiles = driveResponse.files || [];\n\n// Filter for PDF files only\nconst pdfFiles = allFiles.filter(file => {\n  return file.name && file.name.toLowerCase().endsWith('.pdf');\n});\n\n// Transform to desired format with name and URLs\nconst processedPdfFiles = pdfFiles.map(file => {\n  return {\n    json: {\n      id: file.id,\n      name: file.name,\n      viewUrl: file.webViewLink || null,\n      downloadUrl: file.webContentLink || null,\n      mimeType: file.mimeType || 'application/pdf'\n    }\n  };\n});\n\n// Return the filtered PDF files\nreturn processedPdfFiles;"},"id":"1ee6549d-cc55-40a4-900b-f92ddafa65a7","name":"Filter PDF Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"pdf-files-check","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt","name":"filter.operator.gt"}}],"combinator":"and"},"options":{}},"id":"ffae1ce7-59cb-491f-8f29-2c30f8a637b3","name":"Check PDF Files Found","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,0]},{"parameters":{"jsCode":"// Get all PDF files from input\nconst pdfFiles = $input.all();\n\n// Format the response\nconst response = {\n  success: true,\n  message: `Found ${pdfFiles.length} PDF files in Google Drive`,\n  totalFiles: pdfFiles.length,\n  pdfFiles: pdfFiles.map(item => item.json),\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"},"id":"bb0c0269-01fb-4aeb-bbbf-d0a49b7ba0f5","name":"Format PDF Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-100]},{"parameters":{"jsCode":"// Format response when no PDF files found\nconst response = {\n  success: true,\n  message: 'No PDF files found in Google Drive',\n  totalFiles: 0,\n  pdfFiles: [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"},"id":"8e068a8d-bfae-4e55-a562-5cc6229a6819","name":"Format No Files Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,100]},{"parameters":{"url":"https://api.pipedream.com/v1/sources","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-400,-280],"id":"062b4964-2cd5-4eed-8eda-abfc20807689","name":"Pipedream Test","credentials":{"httpHeaderAuth":{"id":"kyvOdB0Q8X1Gk4vA","name":"Header Auth account "}}},{"parameters":{"url":"https://api.pipedream.com/v1/users/me","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-100,320],"id":"f508fbb2-0cce-4941-89dc-fac5cb0b2058","name":"Test Pipedream Auth"},{"parameters":{"url":"https://api.pipedream.com/v1/sources","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[100,320],"id":"b3569621-5e08-4269-989d-dbadb5658df7","name":"List Sources"},{"parameters":{"url":"https://api.pipedream.com/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[300,320],"id":"e49bcde1-934f-4c4f-b0e7-189cf5cdddf3","name":"List Workflows"},{"parameters":{},"type":"n8n-nodes-base.start","typeVersion":1,"position":[-300,320],"id":"b0f80cda-9e98-49e9-bee9-7b6721563680","name":"Start"}],"connections":{"Webhook Trigger":{"main":[[]]},"List Google Drive Files":{"main":[[{"node":"Filter PDF Files","type":"main","index":0}]]},"Filter PDF Files":{"main":[[{"node":"Check PDF Files Found","type":"main","index":0}]]},"Check PDF Files Found":{"main":[[{"node":"Format PDF Response","type":"main","index":0}],[{"node":"Format No Files Response","type":"main","index":0}]]},"Start":{"main":[[{"node":"Test Pipedream Auth","type":"main","index":0}]]},"Test Pipedream Auth":{"main":[[{"node":"List Sources","type":"main","index":0}]]},"List Sources":{"main":[[{"node":"List Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe3a3282-9e3c-406a-9628-23a10cd22e57","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}