workflows/My workflow.json
{"createdAt":"2025-06-12T01:43:26.386Z","updatedAt":"2025-06-13T21:15:55.025Z","id":"lymg7DL0AHqfNy1v","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[40,0],"id":"d20bd33b-7bf5-44b6-adca-584a71ea5c4b","name":"Schedule Trigger"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,200],"id":"9c06ddb1-c337-4565-9e0b-53ecc78ae7e6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Z2YenGk8PU1OZZ4O","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"=Resuma a seguinte notícia em até 3 frases, em português claro e direto.\n\nTítulo: {{$json[\"title\"]}}\n\nConteúdo: {{$json[\"content\"]}}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[580,160],"id":"0aed7d16-5950-4f7e-8e40-ab508bc242c5","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,0],"id":"c8c877b9-1cf7-41e5-9c08-10fcf248b704","name":"Loop Over Items","executeOnce":false},{"parameters":{"chatId":"6986604833","text":"=🧠 *Resumo de notícia sobre IA*:  {{ $json[\"output\"] || \"Sem conteúdo disponível.\" }}\n\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-40],"id":"ba91c464-2c20-45c3-8363-737e70f5d9b0","name":"Telegram","webhookId":"628f5a8c-6281-4711-b92d-bd072994ebc0","notesInFlow":false,"credentials":{"telegramApi":{"id":"XMuZsQnlZ1Gtq1pJ","name":"Telegram account"}}},{"parameters":{"url":"https://news.google.com/rss/search?q=inteligência+artificial&ceid=BR:pt-419","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[240,0],"id":"5c8066c4-f50a-4dcc-af0e-474256011c70","name":"RSS Read"}],"connections":{"Schedule Trigger":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20b7035b-74de-4cd0-99c7-6cc4500ae3a6","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}