workflows/My workflow 3.json
{"createdAt":"2025-06-30T13:30:55.558Z","updatedAt":"2025-06-30T19:01:59.974Z","id":"hOF8qqwkvJa27iVu","name":"My workflow 3","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"12902ef6-2393-47b2-a40f-6c883e947517","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[340,-40],"credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1hyBmgsbf-2vzzOlg_1vHfb5UVjLh8UUe","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"82821568-3f6c-4f67-a014-4f0088722eb7","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[180,640],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"S2oLedvKufZBuSqq","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput || $json.body.message}}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId || $json.headers[\"x-real-ip\"]}}","type":"string"}]},"options":{}},"id":"0f744e49-259c-41f7-ba9a-3cf752dcc19e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-220]},{"parameters":{"public":true,"options":{}},"id":"03bbb45e-d335-4d2f-831e-cb233ab49e39","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,-320],"webhookId":"15e4d662-3f98-48d0-9f50-68838769ecac"},{"parameters":{"operation":"xls","options":{}},"id":"ec247413-28d4-455c-aac9-87501886f124","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[340,640]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Você é um assistente especializado em informações sobre os produtos do site Signa.pt, uma loja de moda que oferece roupas e acessórios em Portugal.\n\nVocê tem acesso a um banco de conhecimento vetorizado baseado no conteúdo extraído diretamente do site, incluindo descrições de produtos, categorias, preços e informações institucionais.\n\nResponda de forma clara, útil e precisa às perguntas feitas pelo usuário. Sempre que mencionar preços, informe que estão em euros (€).\n\n\nInstruções específicas:\n\n1. Se a pergunta for sobre um produto (ex: \"camisa branca\", \"casaco masculino\"):\n   - Diga se o produto foi encontrado e forneça as informações extraídas (nome, descrição, categoria e preço).\n   - Caso não tenha informações suficientes, diga que o produto não foi localizado nos dados.\n\n2. Se a pergunta for sobre valores:\n   - Deixe claro que os valores estão em euros.\n   - Formate os preços como \"€ XX,XX\", apenas em texto simples.\n\n3. Se for uma dúvida geral sobre trocas, devoluções, entrega ou atendimento:\n   - Consulte os textos institucionais extraídos do site e ofereça uma resposta com base neles.\n\n4. Sempre utilize apenas o conhecimento disponível nos dados vetorizados.\n   - Não invente ou suponha informações fora da base vetorizada.\n"}},"id":"31f97d51-3b90-4053-9ba8-36f60bd17613","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[460,-220]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1540,-220],"id":"717386b9-1fa8-4484-b49b-871dc1d1cd9d","name":"Respond to Webhook"},{"parameters":{"description":"Contains all the user's documents that you can check for context to answer user questions."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[700,0],"id":"79368ab9-6942-45e1-b82f-f87d7b2325db","name":"Answer questions with a vector store"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[480,160],"id":"808abd22-e368-442b-b21a-5684266ae7d3","name":"Supabase Vector Store1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"EPW0ukvJWzka2jRD","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[380,300],"id":"9e27ccfd-5b94-4117-b283-148e70bfc7f6","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[840,220],"id":"c6adfc91-c518-4610-8064-d307fa91ae0f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"EfYXyjNrkbq2WbK3","mode":"list","cachedResultName":"insereRag"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[520,640],"id":"c342150a-bb24-4655-8baf-71ea4e69f80f","name":"Execute Workflow"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[480,0],"id":"d99fd552-48c1-4ea5-8936-350fe2ef9276","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dVUOuwEEbZKCN5GD","name":"Postgres account 2"}}},{"parameters":{"httpMethod":"POST","path":"nilgai","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,-60],"id":"29ee7eec-87d2-4a51-acb8-13c0ac86aa9a","name":"Webhook","webhookId":"1e39d744-2f39-4683-bebe-7578004c9f12"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[20,640],"id":"dc6a0085-b1f2-4d26-91d8-a00c9c2d6684","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      resposta: $json.output.replace(/\\*\\*(.*?)\\*\\*/g, '$1')  // remove **texto**\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-220],"id":"bc57511e-0b45-4675-aedc-087666cb4655","name":"Formata resposta"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-420,180],"id":"425d281b-b033-4b12-8b97-f6a939f3eb96","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"DN0hGNQdcv47UXNM","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6cfb357c-7b51-4e7d-a9f0-354b5b88bc5c","name":"output","value":"={{ $json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-220],"id":"b05c1b83-6e6e-48e0-99cc-ef71e7f527c4","name":"Edit Fields1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Formata resposta","type":"main","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Execute Workflow":{"main":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Formata resposta":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.vps.veridianbr.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","content-length":"279","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"null","priority":"u=1, i","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"179.251.145.87","x-forwarded-host":"webhook.vps.veridianbr.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e983dcdea834","x-real-ip":"179.251.145.87"},"params":{},"query":{},"body":{"message":"Adicione um Bloco de Notas Tipo Moleskine Kiny nas minhas compras e forneça o valor total do pedido","timestamp":"2025-06-30T17:56:09.654Z","userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"},"webhookUrl":"https://webhook.vps.veridianbr.com/webhook/nilgai","executionMode":"production"}}]},"versionId":"9f685727-8238-4893-b7fb-8e3821ae8186","triggerCount":2,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}