workflows/rag - 2.json
{"createdAt":"2025-06-24T22:25:00.596Z","updatedAt":"2025-06-27T22:06:28.049Z","id":"5Y8It4qK3YFI9ACQ","name":"rag - 2","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"bdfdd6f3-9078-4667-9907-d020bdc9c2c0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[40,100]},{"parameters":{"options":{}},"id":"c3382da4-350e-47af-a389-e931e718db64","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,420]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{}},"id":"8435300e-02a8-4926-8c79-1453059fc292","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[820,1020]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e2cf639c-6e9c-4b0f-a367-568a282b2ab2","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[660,1020]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"02bb34ba-7197-47b4-99ef-97add2cd8fb8","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[120,240]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1g_xCCU5UjICxcfdYQJXg9PamZ15nOpg4","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"236bab85-cc23-4e5d-9f09-579d2a9298bd","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,780],"executeOnce":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2f926897-7c61-4356-afa2-23ef4e77cfdb","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[140,520],"credentials":{"openAiApi":{"id":"v9XOgiBCwDIHSobe","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"f0217d97-fb19-4823-ad81-57c63c5c0346","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-100]},{"parameters":{"public":true,"options":{}},"id":"ae5fb403-4f29-4eec-975a-3c296f2f547a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-440,-100],"webhookId":"15e4d662-3f98-48d0-9f50-68838769ecac"},{"parameters":{"httpMethod":"POST","path":"9ba11544-5c4e-4f91-818a-08a4ecb596c5","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"3bbe6a95-74c0-4102-aba6-e820552a3645","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-440,100],"webhookId":"9ba11544-5c4e-4f91-818a-08a4ecb596c5"},{"parameters":{"operation":"pdf","options":{}},"id":"63df381f-be86-4692-b1ee-51dbee271386","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,780]},{"parameters":{},"id":"64a787bd-75c9-431e-ab83-34378f68d929","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[820,1240]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful assistant that answers user questions based on the content of a set of company documents. If the information is not found in the documents, respond clearly that the answer is not available. Do not invent or guess.\n\nAlways extract the answer only from the available text.\nIf relevant, include the company name and the data field (e.g., address, products, services)."}},"id":"dd6b1756-4ca9-4cf5-87e8-980498f1c244","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[40,-100]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"63d11503-95ad-48c7-bd19-3399b020b1f6","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[700,780]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d69a5a33-1bfb-4516-8095-844b953007ba","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-20,400]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"0fc5f2ae-c23d-45da-9b6e-019609a9f433","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,800],"disabled":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"df1c1b23-c5a3-4bfa-863b-f37482a5be09","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-520,800],"alwaysOutputData":true,"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1gFS8iBcRN1vs5a1v7vmal3AHmopPAdWT","mode":"list","cachedResultName":"Excel","cachedResultUrl":"https://drive.google.com/drive/folders/1gFS8iBcRN1vs5a1v7vmal3AHmopPAdWT"},"event":"fileUpdated","options":{}},"id":"0a71bbff-1e7c-4a87-a840-55a8c1a6674d","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,920],"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1gFS8iBcRN1vs5a1v7vmal3AHmopPAdWT","mode":"list","cachedResultName":"Excel","cachedResultUrl":"https://drive.google.com/drive/folders/1gFS8iBcRN1vs5a1v7vmal3AHmopPAdWT"},"event":"fileCreated","options":{}},"id":"a57ec507-1498-4f18-a00a-1571468c22c5","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1040,700],"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,780],"id":"377f0f3c-8c54-454a-985e-09acab70bded","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[820,-100],"id":"1a9dc383-a38a-4b23-a59e-f87792802190","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Download File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5dd6a443-7551-44de-a5a9-4c3f00745357","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}