workflows/zapier.json
{"createdAt":"2025-07-02T15:14:30.422Z","updatedAt":"2025-07-03T20:36:33.393Z","id":"Cf33wu4rQzQCgZEu","name":"zapier","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2200,60],"id":"de950a43-72c8-4c58-95bd-e4a5edb10321","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst allPosts = [];\n\n// Processa todos os itens (cada página de dados)\nfor (const item of inputData) {\n  if (item.json && item.json.response && item.json.response.items) {\n    allPosts.push(...item.json.response.items);\n  }\n}\n\n// REMOVENDO FILTRO DE DATA temporariamente para teste\n// const thirtyDaysAgo = Math.floor(Date.now() / 1000) - (30 * 24 * 60 * 60);\n// const recentPosts = allPosts.filter(post => post.taken_at > thirtyDaysAgo);\nconst recentPosts = allPosts; // Mostra todos os posts para teste\n\n// IMPORTANTE: return um array - cada elemento vira um item separado no n8n\nreturn recentPosts.map(post => ({\n  json: {\n    media_id: post.pk,\n    media_code: post.code,\n    taken_at: post.taken_at,\n    media_type: post.media_type,\n    caption: post.caption?.text || '',\n    like_count: post.like_count || 0,\n    comment_count: post.comment_count || 0,\n    // Para debug: vamos ver os campos disponíveis\n    available_fields: Object.keys(post).slice(0, 10)\n  }\n}));"},"id":"6115c9dd-c970-444c-bc66-4be5d4ee0bbc","name":"Extract Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1320,-440],"alwaysOutputData":true},{"parameters":{"url":"https://api.hikerapi.com/v2/media/comments","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.media_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"id":"c3e8b1ec-3ef9-4c4e-8c04-ea2dee1249c4","name":"Get Comments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,-540],"webhookId":""},{"parameters":{"url":"https://api.hikerapi.com/v2/media/likers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.media_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"id":"375a6f09-6587-4290-a690-52c7c3a2a6b7","name":"Get Likers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,-300],"webhookId":""},{"parameters":{"jsCode":"// CÓDIGO CORRIGIDO baseado na análise Python - TESTADO E FUNCIONANDO!\nconst inputData = $input.all();\nconst allCommentUsers = [];\nconst seenUsers = new Set();\n\nconsole.log(\"Input recebido:\", inputData.length, \"itens\");\n\n// Processa todos os itens de entrada\nfor (const item of inputData) {\n  console.log(\"Processando item:\", typeof item, Object.keys(item));\n  \n  // Estrutura: item.json.response.comments ou item.response.comments\n  let comments = null;\n  \n  if (item.json && item.json.response && item.json.response.comments) {\n    comments = item.json.response.comments;\n  } else if (item.response && item.response.comments) {\n    comments = item.response.comments;\n  }\n  \n  if (comments && Array.isArray(comments)) {\n    console.log(\"Encontrados\", comments.length, \"comentários neste item\");\n    \n    // Para cada comentário, extrai o usuário\n    for (const comment of comments) {\n      if (comment.user && comment.user.username) {\n        const userId = comment.user.pk || comment.user.id;\n        \n        // Evita duplicatas baseado no user ID\n        if (userId && !seenUsers.has(userId)) {\n          seenUsers.add(userId);\n          \n          allCommentUsers.push({\n            user_id: userId,\n            username: comment.user.username,\n            full_name: comment.user.full_name || '',\n            profile_pic_url: comment.user.profile_pic_url || '',\n            is_verified: comment.user.is_verified || false,\n            is_private: comment.user.is_private || false,\n            tipo_interacao: 'comment',\n            first_comment_text: comment.text || '',\n            first_comment_date: comment.created_at ? new Date(comment.created_at * 1000).toISOString() : ''\n          });\n        }\n      }\n    }\n  }\n}\n\nconsole.log(`Total de usuários únicos que comentaram: ${allCommentUsers.length}`);\n\n// Retorna um único item com array de todos os usuários\nreturn [{\n  json: {\n    total_comment_users: allCommentUsers.length,\n    extracted_at: new Date().toISOString(),\n    users_comment: allCommentUsers\n  }\n}];"},"id":"d6193606-d403-4c5c-82bd-4b299af80558","name":"Process Comments","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-540]},{"parameters":{"jsCode":"// Processa likes\nconst likers = $json.users || [];\nconst post_id = $('Extract Posts').item.json.pk;\n\n// Extrai informações de cada usuário que curtiu\nreturn likers.map(liker => ({\n  json: {\n    username: liker.username,\n    full_name: liker.full_name,\n    profile_pic_url: liker.profile_pic_url,\n    tipo_interacao: \"like\",\n    media_id: post_id,\n    timestamp: new Date().toISOString()\n  }\n}));"},"id":"bc430965-0198-49f3-baf4-7b59cd11b8b9","name":"Process Likers","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-300]},{"parameters":{"url":"https://api.hikerapi.com/v2/user/medias","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id","value":"={{ $json.user.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"next_page_id","value":"={{$response.body.next_page_id}}"}]},"limitPagesFetched":true,"maxRequests":4}}}},"id":"dde320b0-9fef-42b6-9ebb-2372f9dba508","name":"Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1620,-440],"webhookId":""},{"parameters":{"path":"scrapperInstagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2200,-300],"id":"fb62c676-67fd-46ec-9f06-a367d114c5fe","name":"Webhook","webhookId":"60eae6f3-2d18-4502-95a5-557fb87dec36"},{"parameters":{"url":"https://api.hikerapi.com/v2/user/by/username","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"=use_loom"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"id":"e509e151-3d0b-4857-bb97-d8a08e86d7ba","name":"Search ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,-140],"webhookId":""},{"parameters":{"jsCode":"const allItems = $input.all();\n\n// Pega apenas os índices pares\nconst seguidoresBrutos = allItems\n  .map(item => item.json)\n  .filter((_, index) => index % 2 === 0); // apenas pares\n\n// Extrai username e full_name\nconst seguidores = [];\n\nseguidoresBrutos.forEach(pagina => {\n  Object.values(pagina).forEach(usuario => {\n    if (usuario.username && usuario.full_name) {\n      seguidores.push({\n        username: usuario.username,\n        full_name: usuario.full_name\n      });\n    }\n  });\n});\n\nreturn [\n  {\n    json: {\n      seguidores\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,100],"id":"b310e9f2-ebc8-49b6-861b-2f410384d7c9","name":"Code2"},{"parameters":{"jsCode":"const allItems = $input.all();\n\n// Pega apenas os índices pares\nconst seguindoBrutos = allItems\n  .map(item => item.json)\n  .filter((_, index) => index % 2 === 0); // apenas pares\n\n// Extrai username e full_name\nconst seguindo = [];\n\nseguindoBrutos.forEach(pagina => {\n  Object.values(pagina).forEach(usuario => {\n    if (usuario.username && usuario.full_name) {\n      seguindo.push({\n        username: usuario.username,\n        full_name: usuario.full_name\n      });\n    }\n  });\n});\n\nreturn [\n  {\n    json: {\n      seguindo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,320],"id":"365ad0e8-058f-4785-a615-75fd19f5dc2a","name":"Code7"},{"parameters":{"url":"https://api.hikerapi.com/gql/user/followers/chunk","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id","value":"={{ $json.user.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"end_cursor","value":"={{$response.body[$response.body.length-1]}}"}]},"limitPagesFetched":true,"maxRequests":"={{ $json.user.follower_count / 49}}","requestInterval":null}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,100],"id":"2f7fb26b-92e2-4ad9-bb8e-101851d9adf5","name":"Followers","alwaysOutputData":false,"notesInFlow":false,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.hikerapi.com/gql/user/following/chunk","sendQuery":true,"queryParameters":{"parameters":[{"name":"user_id","value":"={{ $json.user.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"end_cursor","value":"={{$response.body[$response.body.length-1]}}"}]},"limitPagesFetched":true,"maxRequests":"={{ $json.user.following_count /49}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,320],"id":"20993ca4-87e5-4546-aca1-b80bc5381a86","name":"Following","alwaysOutputData":false,"notesInFlow":false,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"chooseBranch","numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-120,-280],"id":"c1907b48-4702-4451-9046-f089f0891fca","name":"Merge1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search ID","type":"main","index":0}]]},"Extract Posts":{"main":[[{"node":"Get Comments","type":"main","index":0},{"node":"Get Likers","type":"main","index":0}]]},"Get Comments":{"main":[[{"node":"Process Comments","type":"main","index":0}]]},"Get Likers":{"main":[[{"node":"Process Likers","type":"main","index":0}]]},"Media":{"main":[[{"node":"Extract Posts","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Search ID","type":"main","index":0}]]},"Search ID":{"main":[[{"node":"Media","type":"main","index":0},{"node":"Followers","type":"main","index":0},{"node":"Following","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Code7":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Followers":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Following":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Process Comments":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Process Likers":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e920c281-151f-48ae-bd35-784256b768d0","triggerCount":0,"tags":[],"repo":{"owner":"veridianbr","name":"backup","path":"workflows/"}}